Repository SparkPost/matchbox, pull requests merged in 2020-12, with the labels that each got.

#702 UX-383 Add disabled prop and styles to UnstyledLink
  package-lock.json
  packages/matchbox/src/components/UnstyledLink/UnstyledLink.js
  stories/navigation/UnstyledLink.stories.js
Labels: :shipit: approved, type: enhancement

#696 UX-374 Omit 'loading' on Buttons
  packages/matchbox/src/components/Button/Button.js
Labels: :shipit: approved, type: bug

#704 UX-381 Make Modal.Content height restriction optional
  packages/matchbox/src/components/Modal/Content.js
  packages/matchbox/src/components/Modal/Modal.js
  packages/matchbox/src/components/Modal/tests/Modal.test.js
  stories/overlays/Modal.stories.js
Labels: :shipit: approved, type: feature

#705 UX-401 Disable UnstyledLinks interaction when disabled
  packages/matchbox/src/components/UnstyledLink/UnstyledLink.js
  packages/matchbox/src/components/UnstyledLink/tests/UnstyledLink.test.js
  stories/navigation/UnstyledLink.stories.js
Labels: :shipit: approved, type: bug

#703 UX-369 document usePrefersReducedMotion hook
  site/src/pages/components/hooks.mdx
Labels: :shipit: approved, type: enhancement

#713 UX-400 - Handle disabled Actionlist Actions
  packages/matchbox/src/components/ActionList/Action.js
  packages/matchbox/src/components/ActionList/styles.js
  packages/matchbox/src/components/ActionList/tests/ActionList.test.js
  site/src/pages/components/actionlist.mdx
  site/src/pages/components/unstyledlink.mdx
  stories/action/ActionList.stories.js
Labels: :shipit: approved, type: bug

#715 Resolves #714 - Adds semantic tags around Panel Header components
  packages/matchbox/src/components/Panel/Header.js
  packages/matchbox/src/components/Panel/SubHeader.js
  packages/matchbox/src/components/Panel/tests/Panel.test.js
Labels: :shipit: approved, type: bug

#711 UX-402 Fix Listbox padding as inline element
  packages/matchbox/src/components/ListBox/ListBox.js
  packages/matchbox/src/components/ListBox/styles.js
  stories/form/ListBox.stories.js
Labels: :shipit: approved, type: bug

#717 UX-406 Fix muted banner styles
  packages/matchbox/src/components/Banner/Banner.js
  packages/matchbox/src/components/Banner/styles.js
Labels: :shipit: approved, type: bug

#718 UX-403 & Issue-710 Fix empty Modal.Footer & dynamic children
  packages/matchbox/src/components/Modal/Footer.js
  stories/overlays/Modal.stories.js
Labels: :shipit: approved, type: bug

#719 UX-408 Add alignY prop to Inline
  packages/matchbox/src/components/Inline/Inline.js
  packages/matchbox/src/components/Inline/styles.js
  site/src/pages/components/inline.mdx
  stories/layout/Inline.stories.js
Labels: :shipit: approved, type: feature

#726 UX-407 - Force tab layout shift when tabs are dynamically updated
  packages/matchbox/src/components/Tabs/Tabs.js
  stories/navigation/Tabs.stories.js
Labels: :shipit: approved, type: bug

#724 UX-410 Make empty state image container responsive
  packages/matchbox/src/components/EmptyState/Image.js
  packages/matchbox/src/components/EmptyState/List.js
Labels: :shipit: approved, type: enhancement
