Repository SparkPost/matchbox, pull requests merged in 2020-10, with the labels that each got.

#654 UX-344 Fix Tab focus outline overflow bug
  packages/matchbox/src/components/Tabs/styles.js
  stories/overlays/Modal.stories.js
Labels: :shipit: approved

#653 UX-339 Componentize EmptyState
  packages/matchbox/src/components/EmptyState/Action.js
  packages/matchbox/src/components/EmptyState/Content.js
  packages/matchbox/src/components/EmptyState/EmptyState.js
  packages/matchbox/src/components/EmptyState/Header.js
  packages/matchbox/src/components/EmptyState/Image.js
  packages/matchbox/src/components/EmptyState/Legacy.js
  packages/matchbox/src/components/EmptyState/styles.js
  packages/matchbox/src/components/EmptyState/tests/EmptyState.LEGACY.test.js
  packages/matchbox/src/components/EmptyState/tests/EmptyState.test.js
  packages/matchbox/src/components/Page/Page.js
  site/src/routes/routes.json
  stories/layout/EmptyState.stories.js
Labels: :shipit: approved, type: breaking change

#658 UX-234 Tabs should measure overflow on component resize
  packages/matchbox/src/components/Tabs/Tabs.js
Labels: :shipit: approved, type: bug

#656 UX-346 Lower structural border color to gray-300
  packages/matchbox/src/components/ActionList/styles.js
  packages/matchbox/src/components/Expandable/styles.js
  packages/matchbox/src/components/Panel/Header.js
  packages/matchbox/src/components/Panel/Panel.js
  packages/matchbox/src/components/Panel/Section.js
  packages/matchbox/src/components/Panel/tests/Panel.test.js
  packages/matchbox/src/components/Popover/styles.js
  packages/matchbox/src/components/Table/styles.js
  packages/matchbox/src/components/ThemeProvider/theme.js
  site/src/components/SystemProps/data.js
Labels: :shipit: approved, type: enhancement

#659 UX-341 EmptyState.List Component
  packages/matchbox/src/components/EmptyState/EmptyState.js
  packages/matchbox/src/components/EmptyState/List.js
  packages/matchbox/src/components/EmptyState/styles.js
  stories/layout/EmptyState.stories.js
Labels: :shipit: approved, type: feature

#660 UX-349 resize Slider on component size change
  packages/matchbox/src/components/Slider/Slider.js
Labels: :shipit: approved, type: bug

#662 UX-350 Add borderless Expandable variant
  packages/matchbox/src/components/Expandable/Expandable.js
  packages/matchbox/src/components/Expandable/styles.js
  packages/matchbox/src/components/Expandable/tests/Expandable.test.js
  packages/matchbox/src/components/Panel/Section.js
  stories/layout/Expandable.stories.js
Labels: :shipit: approved, type: enhancement

#665 UX-353 Add Signup, Recipient Validation, and Analytics images
  packages/matchbox-media/images/Analytics.jpg
  packages/matchbox-media/images/Analytics.png
  packages/matchbox-media/images/Analytics.webp
  packages/matchbox-media/images/Analytics@medium.jpg
  packages/matchbox-media/images/Analytics@medium.png
  packages/matchbox-media/images/Analytics@medium.webp
  packages/matchbox-media/images/Analytics@small.jpg
  packages/matchbox-media/images/Analytics@small.png
  packages/matchbox-media/images/Analytics@small.webp
  packages/matchbox-media/images/Recipient-Validation.jpg
  packages/matchbox-media/images/Recipient-Validation.png
  packages/matchbox-media/images/Recipient-Validation.webp
  packages/matchbox-media/images/Recipient-Validation@medium.jpg
  packages/matchbox-media/images/Recipient-Validation@medium.png
  packages/matchbox-media/images/Recipient-Validation@medium.webp
  packages/matchbox-media/images/Recipient-Validation@small.jpg
  packages/matchbox-media/images/Recipient-Validation@small.png
  packages/matchbox-media/images/Recipient-Validation@small.webp
  packages/matchbox-media/images/Signup.jpg
  packages/matchbox-media/images/Signup.png
  packages/matchbox-media/images/Signup.webp
  packages/matchbox-media/images/Signup@medium.jpg
  packages/matchbox-media/images/Signup@medium.png
  packages/matchbox-media/images/Signup@medium.webp
  packages/matchbox-media/images/Signup@small.jpg
  packages/matchbox-media/images/Signup@small.png
  packages/matchbox-media/images/Signup@small.webp
  stories/media/Images.stories.js
Labels: :shipit: approved, type: enhancement

#670 UX-354 document EmptyState props
  site/src/pages/components/emptystate.mdx
Labels: :shipit: approved, type: enhancement

#671 UX-356 Focus modal panel when opening
  cypress/integration/Modal.spec.js
  packages/matchbox/src/components/Modal/Modal.js
Labels: :shipit: approved, type: enhancement

#669 UX-351 create useInView hook
  cypress/integration/useInView.spec.js
  packages/matchbox/src/hooks/index.js
  packages/matchbox/src/hooks/useInView.js
  stories/utility/useInView.stories.js
Labels: :shipit: approved, type: feature

#664 Issue 661 Add data-id props to all layout components
  packages/matchbox/src/components/Column/Column.js
  packages/matchbox/src/components/Columns/Columns.js
  packages/matchbox/src/components/Columns/tests/Columns.test.js
  packages/matchbox/src/components/Grid/tests/Column.test.js
  packages/matchbox/src/components/Inline/Inline.js
  packages/matchbox/src/components/Inline/tests/Inline.test.js
  packages/matchbox/src/components/Layout/Layout.js
  packages/matchbox/src/components/Layout/Section.js
  packages/matchbox/src/components/Layout/SectionTitle.js
  packages/matchbox/src/components/Layout/tests/Layout.test.js
  packages/matchbox/src/components/Layout/tests/Section.test.js
  packages/matchbox/src/components/Layout/tests/SectionTitle.test.js
  packages/matchbox/src/components/Stack/Stack.js
  packages/matchbox/src/components/Stack/tests/Stack.test.js
  packages/matchbox/src/components/Text/Text.js
  packages/matchbox/src/components/Text/tests/Text.test.js
Labels: :shipit: approved, type: enhancement

#672 UX-352 Add white button color
  packages/matchbox/src/components/Button/Button.js
  packages/matchbox/src/components/Button/styles.js
  stories/action/Button.stories.js
Labels: :shipit: approved, type: enhancement

#674 UX-359 Create InlineCode Component
  packages/matchbox/src/components/InlineCode/InlineCode.js
  packages/matchbox/src/components/InlineCode/index.js
  packages/matchbox/src/components/InlineCode/tests/InlineCode.test.js
  packages/matchbox/src/components/index.js
  stories/utility/InlineCode.stories.js
Labels: :shipit: approved, type: feature

#673 UX-357 Use resize observer for suffix and prefix measurements
  packages/matchbox/src/components/TextField/TextField.js
Labels: :shipit: approved, type: bug

#676 UX-358 document CodeBlock component
  site/src/pages/components/codeblock.mdx
  site/src/routes/routes.json
Labels: :shipit: approved
