Repository SparkPost/matchbox, pull requests merged in 2020-08, with the labels that each got.

#572 UX-282 Add spacing-900 token
  packages/design-tokens/package.json
  packages/design-tokens/tokens/sizing.yml
  packages/design-tokens/tokens/spacing.yml
Labels: :shipit: approved, type: enhancement

#564 UX-284 Darken button hover background colors
  config/helpers.js
  packages/matchbox/src/components/Banner/tests/Banner.test.js
  packages/matchbox/src/components/Button/styles.js
  packages/matchbox/src/components/Button/tests/Button.test.js
  packages/matchbox/src/components/Pagination/tests/Pagination.test.js
  packages/matchbox/src/components/ThemeProvider/theme.js
  packages/matchbox/src/components/Tooltip/tests/Tooltip.test.js
  stories/action/Button.stories.js
Labels: :shipit: approved, type: bug

#563 UX-237 Add new Panel, Panel.Header, Panel.Section, Panel.Action components
  packages/matchbox/src/components/Modal/Footer.js
  packages/matchbox/src/components/Panel/Accent.js
  packages/matchbox/src/components/Panel/Action.js
  packages/matchbox/src/components/Panel/Header.js
  packages/matchbox/src/components/Panel/Panel.js
  packages/matchbox/src/components/Panel/Section.js
  packages/matchbox/src/components/Panel/legacy/Accent.js
  packages/matchbox/src/components/Panel/legacy/Footer.js
  packages/matchbox/src/components/Panel/legacy/Header.js
  packages/matchbox/src/components/Panel/legacy/Panel.js
  packages/matchbox/src/components/Panel/legacy/Section.js
  packages/matchbox/src/components/Panel/legacy/context.js
  packages/matchbox/src/components/Panel/legacy/styles.js
  packages/matchbox/src/components/Panel/legacy/tests/Panel.test.js
  packages/matchbox/src/components/Panel/tests/Panel.test.js
  packages/matchbox/src/helpers/children.js
  stories/layout/Expandable.stories.js
  stories/layout/Page.stories.js
  stories/layout/Panel.stories.js
  stories/layout/PanelLegacy.stories.js
  stories/overlays/Modal.stories.js
Labels: :shipit: approved, type: feature

#573 UX-263 Adds Button variant prop
  .playroom/snippets.js
  packages/matchbox/src/components/Button/Button.js
  packages/matchbox/src/components/Button/styles.js
  packages/matchbox/src/components/DatePicker/Navbar.js
  packages/matchbox/src/components/Drawer/Header.js
  packages/matchbox/src/components/Page/Page.js
  packages/matchbox/src/components/Pagination/Pagination.js
  packages/matchbox/src/components/Tabs/Tabs.js
  stories/action/Button.stories.js
Labels: :shipit: approved, type: enhancement

#574 UX-271 Compact Banner
  packages/matchbox/src/components/Banner/Banner.js
  packages/matchbox/src/components/Banner/styles.js
  stories/feedback/Banner.stories.js
Labels: :shipit: approved, type: enhancement

#576 UX-292 Add Button.Icon
  packages/matchbox/src/components/Button/Button.js
  packages/matchbox/src/components/Button/Icon.js
  packages/matchbox/src/components/Button/tests/Button.test.js
  stories/action/Button.stories.js
Labels: :shipit: approved, type: feature

#577 UX-236 Banner.Action Component
  packages/matchbox/src/components/Banner/Action.js
  packages/matchbox/src/components/Banner/Banner.js
  packages/matchbox/src/components/Banner/tests/Banner.test.js
  stories/feedback/Banner.stories.js
Labels: :shipit: approved, type: feature

#585 UX-294 Make media package public
  packages/matchbox-media/package.json
Labels: :shipit: approved

#586 UX-297 Support color in Page primary action
  packages/matchbox/src/components/Page/Page.js
  packages/matchbox/src/components/Page/tests/Page.test.js
  stories/layout/Page.stories.js
Labels: :shipit: approved, type: enhancement

#579 UX-291 Fix global anchor tag hover styles
  packages/matchbox/src/components/ThemeProvider/globalStyles.js
Labels: :shipit: approved, type: bug

#583 Resolves #582 - Adds missing semicolon to CodeBlock component styles
  packages/matchbox/src/components/CodeBlock/styles.js
  stories/utility/CodeBlock.stories.js
Labels: :shipit: approved, bug, type: bug

#581 UX-287 Limit Modal Content Height
  packages/matchbox/src/components/Modal/Content.js
  packages/matchbox/src/components/Modal/Modal.js
  stories/overlays/Modal.stories.js
Labels: :shipit: approved, type: enhancement

#589 UX-299 Configurable Modal Footer Buttons
  packages/matchbox/src/components/Modal/Footer.js
  stories/overlays/Modal.stories.js
Labels: :shipit: approved

#584 UX-224 Support composable ActionList components
  packages/matchbox/src/components/ActionList/Action.js
  packages/matchbox/src/components/ActionList/ActionList.js
  packages/matchbox/src/components/ActionList/Section.js
  packages/matchbox/src/components/ActionList/tests/ActionList.test.js
  packages/matchbox/src/components/ComboBox/ComboBoxMenu.js
  packages/matchbox/src/components/Page/Page.js
  packages/matchbox/src/components/Tabs/Tabs.js
  stories/action/ActionList.stories.js
Labels: :shipit: approved, type: feature

#587 UX-298 Add rocket icon
  packages/matchbox-icons/src/icons/Rocket.js
  packages/matchbox-icons/src/index.js
Labels: :shipit: approved, type: feature

#578 UX-286 Add indeterminate checkbox support
  packages/matchbox/src/components/Checkbox/Checkbox.js
  packages/matchbox/src/components/Checkbox/styles.js
  packages/matchbox/src/components/Checkbox/tests/Checkbox.test.js
  stories/form/Checkbox.stories.js
Labels: :shipit: approved, type: enhancement

#592 UX-295 Zebra stripes begin on odd rows
  packages/matchbox/src/components/Table/styles.js
Labels: :shipit: approved, type: bug

#600 UX-318 Remove RadioCard.Group disabled prop
  packages/matchbox/src/components/RadioCard/Group.js
  packages/matchbox/src/components/RadioCard/tests/RadioCard.test.js
  stories/form/RadioCard.stories.js
Labels: :shipit: approved, type: bug

#610 UX-324 Page and Actionlist actions render with null actions
  packages/matchbox/src/components/ActionList/ActionList.js
  packages/matchbox/src/helpers/array.js
  packages/matchbox/src/helpers/tests/array.test.js
Labels: :shipit: approved, type: bug
