Repository SparkPost/matchbox, pull requests merged in 2020-07, with the labels that each got.

#515 UX-246 Collapsible Nav Sections
  README.md
  packages/design-tokens/README.md
  packages/matchbox-icons/readme.md
  site/gatsby-browser.js
  site/src/components/ExpandableMenuItem/ExpandableMenuItem.js
  site/src/components/ExpandableMenuItem/index.js
  site/src/components/Layout/Layout.js
  site/src/components/LiveCode/LiveCodeContent.js
  site/src/components/SideNavigation/SideNavigation.js
  site/src/pages/components/overview.mdx
  site/src/pages/design/overview.mdx
  site/src/pages/index.mdx
  site/src/routes/routes.json
Labels: :shipit: approved

#519 UX-246 Fix path check and use Link instead of navigate
  site/src/components/ExpandableMenuItem/ExpandableMenuItem.js
  site/src/components/Layout/Layout.js
Labels: :shipit: approved

#496 UX-171 Update Modal Page
  packages/matchbox-site/src/pages/components/modal.mdx
  site/src/components/LiveCode/LiveCodeContent.js
  site/src/routes/routes.json
Labels: :shipit: approved

#508 UX-251 Add site footer
  site/src/components/Color/ContrastChecker.js
  site/src/components/Footer/Footer.js
  site/src/components/Layout/Layout.js
  site/src/components/UpdatesIndex.js
  site/src/components/tokens/TokenTable.js
Labels: :shipit: approved

#516 Resolve #502 - Changes tag screen reader text to 'Remove'
  packages/matchbox/src/components/ComboBox/tests/ComboBoxTextField.test.js
  packages/matchbox/src/components/Tag/Tag.js
  packages/matchbox/src/components/Tag/tests/Tag.test.js
Labels: :shipit: approved, type: bug

#509 Add border, width, height system props to Panel
  packages/matchbox/src/components/Panel/Panel.js
  packages/matchbox/src/components/Panel/styles.js
  packages/matchbox/src/components/Panel/tests/Panel.test.js
  stories/layout/Panel.stories.js
Labels: :shipit: approved, type: enhancement

#521 Add missing styled-components plugin to fix FOUC
  site/gatsby-browser.js
  site/gatsby-config.js
  site/src/components/GatsbyWrappers/Critical.js
  site/src/components/GatsbyWrappers/PageElement.js
  site/src/components/Layout/Global.js
  site/src/components/Layout/Layout.js
  site/src/components/Layout/global.js
Labels: :shipit: approved

#527 UX-256 Top align Table.Cell contents
  packages/matchbox/src/components/Table/styles.js
  stories/layout/Table.stories.js
Labels: :shipit: approved, type: bug

#526 UX-274 Add default timeout prop to Button Transition
  packages/matchbox/src/components/Button/Button.js
Labels: :shipit: approved, type: bug

#531 Resolve #529 - className is now accepted by Panel.Section
  packages/matchbox/src/components/Panel/Section.js
  packages/matchbox/src/components/Panel/tests/Panel.test.js
  stories/layout/Panel.stories.js
Labels: :shipit: approved, type: bug

#528 UX-250 Responsive Navigation
  site/package-lock.json
  site/package.json
  site/src/components/ExpandableMenuItem/ExpandableMenuItem.js
  site/src/components/Footer/Footer.js
  site/src/components/Header/Header.js
  site/src/components/Layout/Global.js
  site/src/components/Layout/Layout.js
  site/src/components/MainNavigation/MainNavigation.js
  site/src/components/MainNavigation/MobileMainNavigation.js
  site/src/components/MainNavigation/NavItems.js
  site/src/components/MainNavigation/styles.js
  site/src/components/Pre.js
  site/src/components/SecondaryNavigation/SecondaryNavigation.js
  site/src/components/SecondaryNavigation/style.js
  site/src/components/TypographyExplorer/TypographyExplorer.js
Labels: :shipit: approved

#532 UX-275 Removes datepicker's outside and disabled days click events
  packages/matchbox/src/components/DatePicker/Day.js
  packages/matchbox/src/components/DatePicker/styles.js
  packages/matchbox/src/components/DatePicker/tests/DatePicker.test.js
  stories/form/DatePicker.stories.js
Labels: :shipit: approved, type: bug

#525 UX-249 Removes resize container, re-implements modal page, some general cleanup
  site/package-lock.json
  site/package.json
  site/src/components/ExpandableMenuItem/ExpandableMenuItem.js
  site/src/components/Footer/Footer.js
  site/src/components/Heading.js
  site/src/components/Layout/Layout.js
  site/src/components/LiveCode/LiveCodeContent.js
  site/src/components/ResizeContainer/ResizeContainer.js
  site/src/pages/components/modal.mdx
  site/src/pages/components/tooltip.mdx
Labels: :shipit: approved

#534 UX-276 Add semicolon to ProgressBar border-radius
  packages/matchbox/src/components/ProgressBar/styles.js
Labels: :shipit: approved, type: bug

#530 Resolve #517 - Page secondary actions now render correctly, Adjust Page responsive behavior
  packages/matchbox/src/components/Page/Page.js
  packages/matchbox/src/components/Popover/Popover.js
  packages/matchbox/src/components/Popover/PopoverContent.js
  packages/matchbox/src/components/Popover/styles.js
Labels: :shipit: approved, type: bug

#536 Add missing styled-system/css external dependency
  packages/matchbox/rollup/config.js
Labels: :shipit: approved, type: bug

#538 UX-278 Modal content now expands to its container
  packages/matchbox/src/components/Modal/Modal.js
Labels: :shipit: approved, type: bug

#539 Remove overflow:hidden from panels
  packages/matchbox/src/components/Panel/styles.js
Labels: :eyes: needs review, type: bug

#541 Resolves #518 - Add 4px margin top to select and textfield help text
  packages/matchbox/src/components/Checkbox/Checkbox.js
  packages/matchbox/src/components/HelpText/HelpText.js
  packages/matchbox/src/components/Radio/Radio.js
Labels: :eyes: needs review, type: bug

#550 Resolve matchbox security dependencies
  packages/design-tokens/package-lock.json
  packages/matchbox-icons/package-lock.json
  packages/matchbox-icons/package.json
  packages/matchbox/package-lock.json
  packages/matchbox/package.json
  packages/matchbox/rollup/plugins/js.js
  site/package-lock.json
  site/package.json
Labels: :eyes: needs review, type: bug

#552 Resolves #551 - Adds correct vertical margin between collapsed columns
  packages/matchbox/src/components/Column/Column.js
  packages/matchbox/src/components/Columns/Columns.js
  stories/layout/Columns.stories.js
Labels: :shipit: approved, type: bug

#542 Resolves #540 - Pass through role to UnstyledLinks with wrappers or to links
  packages/matchbox/src/components/UnstyledLink/UnstyledLink.js
  packages/matchbox/src/components/UnstyledLink/tests/UnstyledLink.test.js
Labels: :shipit: approved, type: enhancement

#553 UX-277 Use fixed versioning
  lerna.json
Labels: :shipit: approved, type: enhancement

#560 Npm audit fix
  package-lock.json
  packages/design-tokens/package-lock.json
  packages/design-tokens/package.json
  packages/matchbox/package-lock.json
Labels: :eyes: needs review

#558 UX-230 Add useResizeObserver hook
  cypress/integration/useResizeObserver.spec.js
  package-lock.json
  package.json
  packages/matchbox/rollup/config.js
  packages/matchbox/src/hooks/index.js
  packages/matchbox/src/hooks/useResizeObserver.js
  stories/utility/useResizeObserver.stories.js
Labels: :shipit: approved, type: feature

#561 UX-283 & UX-285 Add new alignY prop to Table.Row & Fix element overflow on Table
  packages/matchbox/src/components/Table/Table.js
  packages/matchbox/src/components/Table/TableElements.js
  packages/matchbox/src/components/Table/styles.js
  stories/layout/Table.stories.js
Labels: :shipit: approved, type: enhancement

#535 UX-225 Add new Table.TotalsRow component
  config/helpers.js
  packages/design-tokens/tokens/border-width.yml
  packages/matchbox/src/components/Table/Table.js
  packages/matchbox/src/components/Table/TableElements.js
  packages/matchbox/src/components/Table/styles.js
  packages/matchbox/src/components/Table/tests/Table.test.js
  packages/matchbox/src/components/ThemeProvider/theme.js
  site/src/components/SystemProps/data.js
  stories/layout/Table.stories.js
Labels: :shipit: approved, type: feature

#554 UX-226 Add RadioCard and RadioCard.Group components
  config/helpers.js
  cypress/integration/RadioCard.spec.js
  cypress/support/commands.js
  package-lock.json
  package.json
  packages/matchbox/src/components/ComboBox/styles.js
  packages/matchbox/src/components/RadioCard/Group.js
  packages/matchbox/src/components/RadioCard/RadioCard.js
  packages/matchbox/src/components/RadioCard/index.js
  packages/matchbox/src/components/RadioCard/styles.js
  packages/matchbox/src/components/RadioCard/tests/RadioCard.test.js
  packages/matchbox/src/components/Select/Select.js
  packages/matchbox/src/components/TextField/TextField.js
  packages/matchbox/src/components/Tooltip/tests/Tooltip.test.js
  packages/matchbox/src/components/index.js
  packages/matchbox/src/styles/helpers.js
  stories/form/RadioCard.stories.js
Labels: :eyes: needs review, type: feature

#567 UX-281 Focus on Drawer container on open
  packages/matchbox/src/components/Drawer/Drawer.js
Labels: :shipit: approved, type: enhancement

#565 UX-279 Export all styled-component helpers
  packages/matchbox/src/components/ComboBox/styles.js
  packages/matchbox/src/components/Select/Select.js
  packages/matchbox/src/components/TextField/TextField.js
  packages/matchbox/src/index.js
  packages/matchbox/src/styles/helpers.js
  packages/matchbox/src/styles/index.js
  stories/utility/Styles.stories.js
Labels: :shipit: approved, type: feature

#562 UX-270 Create Layout Component
  packages/matchbox/src/components/Column/Column.js
  packages/matchbox/src/components/Columns/Columns.js
  packages/matchbox/src/components/Layout/Layout.js
  packages/matchbox/src/components/Layout/Section.js
  packages/matchbox/src/components/Layout/SectionTitle.js
  packages/matchbox/src/components/Layout/index.js
  packages/matchbox/src/components/Layout/styles.js
  packages/matchbox/src/components/Layout/tests/Layout.test.js
  packages/matchbox/src/components/Layout/tests/Section.test.js
  packages/matchbox/src/components/Layout/tests/SectionTitle.test.js
  packages/matchbox/src/components/index.js
  stories/layout/Layout.stories.js
Labels: :shipit: approved, type: feature

#571 UX-266 Add Drawer docs page
  README.md
  packages/design-tokens/README.md
  packages/matchbox-icons/readme.md
  site/src/components/ExpandableMenuItem/ExpandableMenuItem.js
  site/src/components/InlineCode.js
  site/src/pages/components/drawer.mdx
  site/src/pages/components/getting-started.mdx
  site/src/pages/design/tokens.mdx
  site/src/pages/index.mdx
  site/src/routes/routes.json
Labels: :eyes: needs review
