Repository SparkPost/matchbox, pull requests merged in 2020-06, with the labels that each got.

#435 Fix disableResponsiveBehavior rule
  packages/matchbox/src/components/Tabs/Tabs.js
  packages/matchbox/src/components/Tabs/styles.js
  unreleased.md
Labels: :eyes: needs review, hibana

#412 UX-213 Allow tables to freeze one column
  packages/matchbox/src/components/Table/Table.js
  packages/matchbox/src/components/Table/styles.js
  packages/matchbox/src/components/Table/tests/Table.test.js
  stories/layout/Table.stories.js
  unreleased.md
Labels: :eyes: needs review, hibana

#436 Remove Sass
  .storybook/webpack.config.js
  package-lock.json
  package.json
  packages/matchbox-icons/package.json
  packages/matchbox/.npmignore
  packages/matchbox/package-lock.json
  packages/matchbox/package.json
  packages/matchbox/rollup/config.js
  packages/matchbox/rollup/plugins/css.js
  packages/matchbox/rollup/plugins/reduceClasses.js
  packages/matchbox/rollup/plugins/scopeClasses.js
  packages/matchbox/src/styles/README.md
  packages/matchbox/src/styles/config.scss
  packages/matchbox/src/styles/config/_accessibility.scss
  packages/matchbox/src/styles/config/_border-radius.scss
  packages/matchbox/src/styles/config/_breakpoints.scss
  packages/matchbox/src/styles/config/_colors.scss
  packages/matchbox/src/styles/config/_shadows.scss
  packages/matchbox/src/styles/config/_spacing.scss
  packages/matchbox/src/styles/config/_typography.scss
  packages/matchbox/src/styles/config/_utilities.scss
  packages/matchbox/src/styles/config/_z-index.scss
  unreleased.md
Labels: hibana

#423 UX-217 Add ref pass throughs to components
  cypress/integration/Popover.spec.js
  packages/matchbox/src/components/Banner/Banner.js
  packages/matchbox/src/components/Banner/tests/Banner.test.js
  packages/matchbox/src/components/Button/Button.js
  packages/matchbox/src/components/Button/tests/Button.test.js
  packages/matchbox/src/components/Button/tests/__snapshots__/utils.test.js.snap
  packages/matchbox/src/components/Drawer/Drawer.js
  packages/matchbox/src/components/Drawer/tests/Drawer.test.js
  packages/matchbox/src/components/Panel/Panel.js
  packages/matchbox/src/components/Panel/tests/Panel.test.js
  packages/matchbox/src/components/Popover/Popover.js
  packages/matchbox/src/components/Popover/PopoverContent.js
  packages/matchbox/src/components/Popover/tests/Popover.test.js
  packages/matchbox/src/components/Snackbar/Snackbar.js
  packages/matchbox/src/components/Snackbar/tests/Snackbar.test.js
  packages/matchbox/src/components/ThemeProvider/globalStyles.js
  stories/overlays/Popover.stories.js
  unreleased.md
Labels: hibana

#441 UX-214 Add keyboardkey component
  packages/matchbox/src/components/KeyboardKey/KeyboardKey.js
  packages/matchbox/src/components/KeyboardKey/index.js
  packages/matchbox/src/components/KeyboardKey/tests/KeyboardKey.test.js
  packages/matchbox/src/components/index.js
  stories/feedback/KeyboardKey.stories.js
  unreleased.md
Labels: hibana

#447 UX-215 Add button loading states
  cypress/integration/Button.spec.js
  packages/matchbox/src/components/Button/Button.js
  packages/matchbox/src/components/Button/styles.js
  packages/matchbox/src/components/Button/tests/Button.test.js
  packages/matchbox/src/components/Button/tests/__snapshots__/utils.test.js.snap
  packages/matchbox/src/components/Pager/tests/Next.test.js
  packages/matchbox/src/components/Pager/tests/Previous.test.js
  packages/matchbox/src/components/Spinner/Spinner.js
  packages/matchbox/src/components/Spinner/styles.js
  packages/matchbox/src/components/Spinner/tests/Spinner.test.js
  stories/action/Button.stories.js
  stories/feedback/Spinner.stories.js
  unreleased.md
Labels: hibana

#245 Resolve issue #194 by adding relevant aria attributes to the ProgressBar component
  packages/matchbox/src/components/ProgressBar/ProgressBar.js
  packages/matchbox/src/components/ProgressBar/tests/ProgressBar.test.js
  stories/feedback/ProgressBar.stories.js
  unreleased.md
Labels: a11y, breaking change!, bug, hibana

#235 Resolve issue #218 by adding "title" prop to Table component
  packages/matchbox/src/components/Table/Table.js
  packages/matchbox/src/components/Table/tests/Table.test.js
  stories/layout/Table.stories.js
  unreleased.md
Labels: a11y, bug, hibana

#442 UX-166 Empty State Updates
  config/helpers.js
  packages/matchbox/src/components/EmptyState/EmptyState.js
  packages/matchbox/src/components/EmptyState/styles.js
  packages/matchbox/src/components/EmptyState/tests/EmptyState.test.js
  packages/matchbox/src/components/Inline/Inline.js
  packages/matchbox/src/components/Inline/styles.js
  packages/matchbox/src/components/Page/Page.js
  packages/matchbox/src/components/Page/tests/Page.test.js
  unreleased.md
Labels: :eyes: needs review, hibana

#413 UX-155 Add Tab keyboard navigation
  codecov.yml
  cypress/integration/Tab.spec.js
  packages/matchbox/src/components/Popover/PopoverContent.js
  packages/matchbox/src/components/Tabs/Tab.js
  packages/matchbox/src/components/Tabs/Tabs.js
  packages/matchbox/src/components/Tabs/readme.md
  packages/matchbox/src/components/Tabs/styles.js
  packages/matchbox/src/components/Tabs/tests/Tabs.test.js
  packages/matchbox/src/components/Tabs/useTabConstructor.js
  packages/matchbox/src/components/Text/Text.js
  packages/matchbox/src/components/UnstyledLink/UnstyledLink.js
  packages/matchbox/src/helpers/keyEvents.js
  packages/matchbox/src/hooks/index.js
  packages/matchbox/src/hooks/useTabs.js
  stories/Text.stories.js
  stories/navigation/Tabs.stories.js
  unreleased.md
Labels: :eyes: needs review, hibana

#474 UX-207 Update Select Page
  packages/matchbox-site/src/pages/components/select.mdx
  packages/matchbox-site/src/routes/routes.json
Labels: :shipit: approved

#472 UX-202 Update Radio Page
  packages/matchbox-site/src/pages/components/radio.mdx
  packages/matchbox-site/src/routes/routes.json
Labels: :shipit: approved

#471 Update readme
  README.md
  unreleased.md
Labels: :shipit: approved

#475 UX-193 Update TextField Page
  packages/matchbox-site/src/components/LiveCode/LiveCodeContent.js
  packages/matchbox-site/src/pages/components/textfield.mdx
  packages/matchbox-site/src/routes/routes.json
Labels: :shipit: approved

#481 UX-182 Update Panel Page
  packages/matchbox-site/src/pages/components/checkbox.mdx
  packages/matchbox-site/src/pages/components/panel.mdx
Labels: :shipit: approved

#462 UX-231 Add Button focus styles
  .github/labeler.yml
  packages/matchbox/src/components/Button/Button.js
  packages/matchbox/src/components/Button/styles.js
  packages/matchbox/src/components/Inline/Inline.js
  packages/matchbox/src/components/Inline/styles.js
  packages/matchbox/src/components/Inline/tests/Inline.test.js
  packages/matchbox/src/styles/helpers.js
  stories/layout/Inline.stories.js
  unreleased.md
Labels: :eyes: needs review, :shipit: approved, hibana

#479 UX-243 Fixes a visual bug with drawer close button
  packages/matchbox/src/components/Drawer/Header.js
  unreleased.md
Labels: :eyes: needs review, :shipit: approved

#489 UX-188 Update Pagination Page
  packages/matchbox-site/src/pages/components/pagination.mdx
  packages/matchbox-site/src/routes/routes.json
Labels: :shipit: approved

#487 UX-181 Update Table Page
  packages/matchbox-site/src/pages/components/table.mdx
  packages/matchbox-site/src/routes/routes.json
Labels: :shipit: approved

#488 UX-199 Update Pager Page
  packages/matchbox-site/src/pages/components/pager.mdx
  packages/matchbox-site/src/routes/routes.json
Labels: :shipit: approved

#486 UX-180 Update ScreenReaderOnly Page
  packages/matchbox-site/src/pages/components/screenreaderonly.mdx
  packages/matchbox-site/src/routes/routes.json
Labels: :shipit: approved

#492 U-191 Update ComboBox Page
  packages/matchbox-site/src/components/LiveCode/LiveCodeContent.js
  packages/matchbox-site/src/pages/components/combobox.mdx
  packages/matchbox-site/src/routes/routes.json
Labels: :shipit: approved

#490 Resolve Issue #473 Delay Tooltip
  cypress/integration/Tooltip.spec.js
  packages/matchbox/src/components/Tooltip/Tooltip.js
  packages/matchbox/src/components/Tooltip/styles.js
  packages/matchbox/src/components/Tooltip/tests/Tooltip.test.js
  unreleased.md
Labels: :shipit: approved

#483 Resolve issue #451 TextField & Select System Props
  packages/matchbox/package-lock.json
  packages/matchbox/src/components/Select/Select.js
  packages/matchbox/src/components/TextField/TextField.js
  stories/form/Select.stories.js
  stories/form/TextField.stories.js
  unreleased.md
Labels: :shipit: approved

#494 UX-209 Update Expandable Page
  packages/matchbox-site/src/pages/components/expandable.mdx
  packages/matchbox-site/src/routes/routes.json
Labels: :shipit: approved

#491 Add design and component overview pages
  packages/matchbox-site/package-lock.json
  packages/matchbox-site/package.json
  packages/matchbox-site/src/components/InlineCode.js
  packages/matchbox-site/src/components/Layout/global.js
  packages/matchbox-site/src/components/LiveCode/LiveCodeContent.js
  packages/matchbox-site/src/components/MDXProvider.js
  packages/matchbox-site/src/components/Pre.js
  packages/matchbox-site/src/pages/components/index.mdx
  packages/matchbox-site/src/pages/design/index.mdx
Labels: :eyes: needs review

#484 UX-239 Add react-scrolllock to modals and drawers
  cypress/integration/Modal.spec.js
  package-lock.json
  package.json
  packages/matchbox/package-lock.json
  packages/matchbox/package.json
  packages/matchbox/rollup/config.js
  packages/matchbox/src/components/Drawer/Drawer.js
  packages/matchbox/src/components/Modal/Modal.js
  unreleased.md
Labels: :shipit: approved

#495 UX-205 Update Grid Page
  packages/matchbox-site/src/pages/components/grid.mdx
  packages/matchbox-site/src/routes/routes.json
Labels: :shipit: approved

#497 UX-196 Update Popover Page
  packages/matchbox-site/src/pages/components/popover.mdx
  packages/matchbox-site/src/routes/routes.json
Labels: :shipit: approved

#498 UX-175 Update Portal Page
  packages/matchbox-site/src/pages/components/portal.mdx
  packages/matchbox-site/src/routes/routes.json
Labels: :shipit: approved

#493 UX-240 Add focus styles to textfield, combobox, select
  packages/matchbox/src/components/Button/styles.js
  packages/matchbox/src/components/ComboBox/styles.js
  packages/matchbox/src/components/Select/Select.js
  packages/matchbox/src/components/Select/tests/Select.test.js
  packages/matchbox/src/components/TextField/TextField.js
  packages/matchbox/src/components/TextField/tests/TextField.test.js
  packages/matchbox/src/styles/helpers.js
  unreleased.md
Labels: :shipit: approved

#504 rc/4.0.1
  packages/matchbox/package-lock.json
  packages/matchbox/package.json
  unreleased.md
Labels: :shipit: approved

#499 UX-248 Fix typography explorer
  packages/matchbox-site/src/components/TypographyExplorer/TypographyExplorer.js
Labels: :shipit: approved

#506 Add 4.0.1 release notes
  packages/matchbox-site/src/updates/2020/2020-06-24-4.0.1-release.mdx
Labels: :shipit: approved

#505 Add System Props to Website pages for Select and TextField
  packages/matchbox-site/src/pages/components/select.mdx
  packages/matchbox-site/src/pages/components/textfield.mdx
Labels: :shipit: approved

#500 UX-220 Drawers and Modals do not lock focus if inside iframes
  package-lock.json
  package.json
  packages/matchbox-site/src/components/ResizeContainer/ResizeContainer.js
  packages/matchbox/package-lock.json
  packages/matchbox/package.json
  packages/matchbox/src/components/Drawer/Drawer.js
  packages/matchbox/src/components/Modal/Modal.js
  packages/matchbox/src/helpers/window.js
  playroom.config.js
  unreleased.md
Labels: :eyes: needs review

#503 UX-252 Add helptext prop to Actionlist.Action
  packages/matchbox/src/components/ActionList/ActionList.js
  packages/matchbox/src/components/ActionList/tests/ActionList.test.js
  stories/action/ActionList.stories.js
  unreleased.md
Labels: :eyes: needs review

#501 UX-242 Add Optional Prop to Form Components
  packages/matchbox/src/components/Checkbox/Group.js
  packages/matchbox/src/components/Checkbox/tests/Group.test.js
  packages/matchbox/src/components/OptionalLabel/OptionalLabel.js
  packages/matchbox/src/components/OptionalLabel/index.js
  packages/matchbox/src/components/Radio/Group.js
  packages/matchbox/src/components/Radio/tests/Group.test.js
  packages/matchbox/src/components/Select/Select.js
  packages/matchbox/src/components/Select/tests/Select.test.js
  packages/matchbox/src/components/TextField/TextField.js
  packages/matchbox/src/components/TextField/tests/TextField.test.js
  packages/matchbox/src/components/index.js
  stories/form/Checkbox.stories.js
  stories/form/Radio.stories.js
  stories/form/Select.stories.js
  stories/form/TextField.stories.js
Labels: :shipit: approved, type: enhancement
