Repository SparkPost/matchbox, pull requests merged in 2020-11, with the labels that each got.

#678 UX-362 Update responsive Empty States
  config/helpers.js
  cypress/integration/Layout.spec.js
  packages/matchbox/src/components/Columns/Columns.js
  packages/matchbox/src/components/Columns/tests/Columns.test.js
  packages/matchbox/src/components/EmptyState/EmptyState.js
  packages/matchbox/src/components/EmptyState/Image.js
  packages/matchbox/src/components/Layout/tests/Section.test.js
  stories/layout/Layout.stories.js
Labels: :shipit: approved, type: enhancement

#677 UX-360 use Warning icon for banner warning status icon
  packages/matchbox/src/components/Banner/styles.js
Labels: :shipit: approved, type: enhancement

#679 UX-365 Make LabelValue composable
  packages/matchbox/src/components/LabelValue/LabelValue.js
  packages/matchbox/src/components/LabelValue/tests/LabelValue.test.js
  stories/layout/LabelValue.stories.js
Labels: :shipit: approved, type: enhancement

#680 UX-261 Create usePrefersReducedMotion hook
  cypress/integration/usePrefersReducedMotion.spec.js
  packages/matchbox/src/hooks/index.js
  packages/matchbox/src/hooks/useInView.js
  packages/matchbox/src/hooks/usePrefersReducedMotion.js
  stories/utility/usePrefersReducedMotion.stories.js
Labels: :shipit: approved, type: feature

#681 UX-367 Fix ListBox key events bug
  packages/matchbox/src/components/ListBox/useOptionConstructor.js
  site/gatsby-config.js
  site/package.json
Labels: :shipit: approved, type: bug

#690 UX-363 Document InlineCode component
  package-lock.json
  site/src/pages/components/inlinecode.mdx
  site/src/routes/routes.json
Labels: :shipit: approved

#692 UX-364 Replace Select with ListBox on design site
  site/src/components/LiveCode/LiveCode.js
Labels: :shipit: approved, type: enhancement
