Repository SparkPost/matchbox, pull requests merged in 2020-09, with the labels that each got.

#609 UX-288 Add useBreakpoint hook
  cypress/integration/Datepicker.spec.js
  packages/matchbox/src/components/Banner/styles.js
  packages/matchbox/src/hooks/index.js
  packages/matchbox/src/hooks/useBreakpoint.js
  site/src/pages/components/datepicker.mdx
  stories/form/DatePicker.stories.js
Labels: :shipit: approved, type: feature

#614 UX-320 Specify Layout.SectionTitle line height
  packages/matchbox/src/components/Layout/SectionTitle.js
Labels: :shipit: approved, type: bug

#588 UX-313 Add Skeleton Components
  packages/matchbox/src/components/Skeleton/Skeleton.js
  packages/matchbox/src/components/Skeleton/index.js
  packages/matchbox/src/components/Skeleton/tests/Skeleton.test.js
  packages/matchbox/src/components/index.js
  stories/feedback/Skeleton.stories.js
Labels: :shipit: approved, type: feature

#606 UX-314 Add portalId to the Popover component to fix placement in tables
  .gitignore
  cypress/integration/Popover.spec.js
  packages/matchbox/src/components/Popover/Popover.js
  packages/matchbox/src/components/Popover/PopoverOverlay.js
  packages/matchbox/src/components/Popover/tests/Popover.test.js
  packages/matchbox/src/components/Table/styles.js
  site/src/pages/components/popover.mdx
Labels: :shipit: approved, type: enhancement

#591 UX-296 Lower table cell font size on mobile
  packages/matchbox/src/components/Table/TableElements.js
Labels: :shipit: approved, type: enhancement

#619 Resolves #618 - Fixes incorrect link to Matchbox Storybook site
  site/src/pages/index.mdx
Labels: :shipit: approved, type: bug

#613 UX-323 Add margin prop to Button.Icon
  packages/matchbox/src/components/Button/Icon.js
Labels: :shipit: approved, type: bug

#622 Issue 617 Set Modal.Content overflow-y to auto
  packages/matchbox/src/components/Modal/Content.js
Labels: :shipit: approved, type: bug

#623 UX-328 Add resize observer polyfill as runtime dependency
  packages/matchbox/package-lock.json
  packages/matchbox/package.json
Labels: :shipit: approved, type: bug

#621 Issue-608 Add motion to theme
  packages/matchbox/src/components/ThemeProvider/theme.js
  site/src/components/SystemProps/data.js
  site/src/pages/components/system-props.mdx
Labels: :shipit: approved, type: enhancement

#626 Resolves #625 - Add support for the className prop for the Column component
  packages/matchbox/src/components/Column/Column.js
  packages/matchbox/src/components/Column/tests/Column.test.js
Labels: :shipit: approved, type: enhancement

#627 Resolves #624 - Add support for data-id for the Panel component
  package-lock.json
  packages/matchbox/src/components/Panel/Panel.js
  packages/matchbox/src/components/Panel/tests/Panel.test.js
  stories/layout/Panel.stories.js
Labels: :shipit: approved, type: enhancement

#612 UX-303 Add StyleLint
  .stylelintrc
  package-lock.json
  package.json
  packages/matchbox/src/components/Checkbox/styles.js
  packages/matchbox/src/components/Radio/styles.js
  packages/matchbox/src/components/RadioCard/styles.js
Labels: :shipit: approved

#631 UX-322 Include Webp Image Formats
  packages/matchbox-media/images/Accounts.webp
  packages/matchbox-media/images/Accounts@medium.webp
  packages/matchbox-media/images/Accounts@small.webp
  packages/matchbox-media/images/Billing.webp
  packages/matchbox-media/images/Billing@medium.webp
  packages/matchbox-media/images/Billing@small.webp
  packages/matchbox-media/images/Configuration.webp
  packages/matchbox-media/images/Configuration@medium.webp
  packages/matchbox-media/images/Configuration@small.webp
  packages/matchbox-media/images/Email-Template.webp
  packages/matchbox-media/images/Email-Template@medium.webp
  packages/matchbox-media/images/Email-Template@small.webp
  packages/matchbox-media/images/Error.webp
  packages/matchbox-media/images/Error@medium.webp
  packages/matchbox-media/images/Error@small.webp
  packages/matchbox-media/images/Flagging.webp
  packages/matchbox-media/images/Flagging@medium.webp
  packages/matchbox-media/images/Flagging@small.webp
  packages/matchbox-media/images/Sending-Mail.webp
  packages/matchbox-media/images/Sending-Mail@medium.webp
  packages/matchbox-media/images/Sending-Mail@small.webp
  stories/media/Images.stories.js
Labels: :shipit: approved, type: feature

#632 Issue 630 - Forward refs to Radio, Checkbox, Textfield and Select
  packages/matchbox/src/components/Checkbox/Checkbox.js
  packages/matchbox/src/components/Checkbox/tests/Checkbox.test.js
  packages/matchbox/src/components/Radio/Radio.js
  packages/matchbox/src/components/Radio/tests/Radio.test.js
  packages/matchbox/src/components/Select/Select.js
  packages/matchbox/src/components/Select/tests/Select.test.js
  packages/matchbox/src/components/TextField/TextField.js
  packages/matchbox/src/components/TextField/tests/TextField.test.js
Labels: :shipit: approved, type: enhancement

#635 UX-330 Revert UX-314
  .gitignore
  cypress/integration/Popover.spec.js
  packages/matchbox/src/components/Popover/Popover.js
  packages/matchbox/src/components/Popover/PopoverOverlay.js
  packages/matchbox/src/components/Popover/tests/Popover.test.js
  packages/matchbox/src/components/Table/styles.js
  site/src/pages/components/popover.mdx
Labels: :shipit: approved, type: bug

#636 UX-325 Create Panel.SubHeader Component
  packages/matchbox/src/components/Panel/Panel.js
  packages/matchbox/src/components/Panel/SubHeader.js
  packages/matchbox/src/components/Panel/tests/Panel.test.js
  stories/layout/Panel.stories.js
Labels: :shipit: approved, type: feature

#628 UX-264 Create ListBox Component
  cypress/integration/ListBox.spec.js
  packages/matchbox/package-lock.json
  packages/matchbox/src/components/ListBox/ListBox.js
  packages/matchbox/src/components/ListBox/Option.js
  packages/matchbox/src/components/ListBox/index.js
  packages/matchbox/src/components/ListBox/styles.js
  packages/matchbox/src/components/ListBox/tests/ListBox.test.js
  packages/matchbox/src/components/ListBox/useOptionConstructor.js
  packages/matchbox/src/components/Select/tests/Select.test.js
  packages/matchbox/src/components/Skeleton/Skeleton.js
  packages/matchbox/src/components/index.js
  packages/matchbox/src/helpers/children.js
  site/src/pages/components/listbox.mdx
  site/src/routes/routes.json
  stories/form/ListBox.stories.js
Labels: :shipit: approved, type: feature

#638 UX-329 match Select text styles to Button
  packages/matchbox/src/components/Select/styles.js
Labels: :shipit: approved

#615 UX-289 Set Pagination pageRange to 3 on mobile
  packages/matchbox/src/components/Pagination/Pagination.js
  packages/matchbox/src/components/Pagination/tests/Pagination.test.js
Labels: :shipit: approved, type: enhancement

#641 UX-336 Add Padding system prop to Modal.Content
  packages/matchbox/src/components/Modal/Content.js
  site/src/pages/components/modal.mdx
  stories/overlays/Modal.stories.js
Labels: :shipit: approved, type: enhancement

#640 UX-334 Support grid orientation & Allow non RadioCard children
  cypress/integration/RadioCard.spec.js
  packages/matchbox/src/components/RadioCard/Group.js
  packages/matchbox/src/components/RadioCard/RadioCard.js
  packages/matchbox/src/components/RadioCard/tests/RadioCard.test.js
  site/src/pages/components/radiocard.mdx
  stories/form/RadioCard.stories.js
Labels: :shipit: approved, type: enhancement

#644 Fix breakpoint hook import
  packages/matchbox/src/components/Pagination/Pagination.js
Labels: :shipit: approved, type: bug

#649 UX-343 useBreakpoint supports SSR builds
  packages/matchbox/src/helpers/window.js
  site/package-lock.json
  site/package.json
Labels: :shipit: approved, type: bug

#647 UX-342 Support prop on Modal.Content
  packages/matchbox/src/components/Modal/Content.js
  stories/overlays/Modal.stories.js
Labels: :shipit: approved, type: bug

#637 UX-223 Add Picture Component
  packages/matchbox/src/components/Picture/Picture.js
  packages/matchbox/src/components/Picture/index.js
  packages/matchbox/src/components/Picture/tests/Picture.test.js
  packages/matchbox/src/components/index.js
  stories/media/Picture.stories.js
Labels: :shipit: approved, type: feature

#642 UX-333 Add ListBox Printable Character Searching
  cypress/integration/ListBox.spec.js
  packages/matchbox/src/components/ListBox/styles.js
  packages/matchbox/src/components/ListBox/useOptionConstructor.js
  packages/matchbox/src/helpers/keyEvents.js
  stories/form/ListBox.stories.js
Labels: :shipit: approved, type: enhancement

#651 UX-345 Support additional ListBox keyboard interactions
  cypress/integration/ListBox.spec.js
  packages/matchbox/src/components/ListBox/ListBox.js
  packages/matchbox/src/components/ListBox/Option.js
  packages/matchbox/src/components/ListBox/useOptionConstructor.js
  stories/form/ListBox.stories.js
Labels: :shipit: approved, type: enhancement

#643 UX-331 Add LabelValue component
  packages/matchbox/src/components/LabelValue/LabelValue.js
  packages/matchbox/src/components/LabelValue/index.js
  packages/matchbox/src/components/LabelValue/tests/LabelValue.test.js
  packages/matchbox/src/components/index.js
  stories/layout/LabelValue.stories.js
Labels: :shipit: approved, type: feature

#652 UX-335 Add ComboBoxTextField delimiter prop
  packages/matchbox/src/components/ComboBox/ComboBoxTextField.js
  packages/matchbox/src/components/ComboBox/tests/ComboBoxTextField.test.js
  site/src/pages/components/combobox.mdx
  stories/form/ComboBox.stories.js
Labels: :shipit: approved, type: enhancement
