Repository SparkPost/matchbox, pull requests merged in 2021-09, with the labels that each got.

#932 UX-665, UX-687 Converts WindowEvent and window helpers to typescript
  libby/utility/WindowEvent.lib.tsx
  packages/matchbox/src/components/WindowEvent/WindowEvent.tsx
  packages/matchbox/src/components/WindowEvent/index.ts
  packages/matchbox/src/helpers/window.js
  packages/matchbox/src/helpers/window.ts
Labels: :shipit: approved, type: feature

#933 UX-625 Convert Expandable to typescript
  libby/layout/Expandable.lib.tsx
  packages/matchbox/src/components/Expandable/Accent.js
  packages/matchbox/src/components/Expandable/Accent.tsx
  packages/matchbox/src/components/Expandable/Expandable.tsx
  packages/matchbox/src/components/Expandable/index.ts
  packages/matchbox/src/components/Expandable/styles.ts
  packages/matchbox/src/components/Expandable/tests/Expandable.test.js
Labels: :shipit: approved, type: feature

#946 UX-641 Convert Picture to typescript
  libby/media/Picture.lib.tsx
  packages/matchbox/src/components/Picture/Picture.js
  packages/matchbox/src/components/Picture/Picture.tsx
  packages/matchbox/src/components/Picture/index.ts
Labels: :shipit: approved, type: feature

#942 UX-615 Convert Checkbox to typescript
  libby/form/Checkbox.lib.tsx
  packages/matchbox/src/components/Checkbox/Checkbox.tsx
  packages/matchbox/src/components/Checkbox/Group.tsx
  packages/matchbox/src/components/Checkbox/index.js
  packages/matchbox/src/components/Checkbox/index.ts
  packages/matchbox/src/components/Checkbox/styles.js
  packages/matchbox/src/components/Checkbox/styles.ts
Labels: :shipit: approved

#940 UX-659 Convert Tooltip to typescript
  libby/overlays/Tooltip.lib.tsx
  packages/matchbox/src/components/Tooltip/Tooltip.tsx
  packages/matchbox/src/components/Tooltip/TooltipOverlay.tsx
  packages/matchbox/src/components/Tooltip/index.ts
  packages/matchbox/src/components/Tooltip/styles.js
  packages/matchbox/src/components/Tooltip/styles.ts
Labels: :shipit: approved, type: feature

#941 UX-623 Convert EmptyState to typescript
  libby/layout/EmptyState.lib.tsx
  packages/matchbox/src/components/EmptyState/Action.tsx
  packages/matchbox/src/components/EmptyState/Content.tsx
  packages/matchbox/src/components/EmptyState/EmptyState.tsx
  packages/matchbox/src/components/EmptyState/Header.tsx
  packages/matchbox/src/components/EmptyState/Image.tsx
  packages/matchbox/src/components/EmptyState/List.tsx
  packages/matchbox/src/components/EmptyState/Media.tsx
  packages/matchbox/src/components/EmptyState/index.ts
  packages/matchbox/src/components/EmptyState/styles.ts
  packages/matchbox/src/components/Text/Text.tsx
  packages/matchbox/src/components/Text/index.ts
Labels: :shipit: approved, type: feature

#944 UX-637 Convert Page to typescript
  packages/matchbox/src/components/Button/Button.tsx
  packages/matchbox/src/components/Button/index.tsx
  packages/matchbox/src/components/Button/utils.tsx
  packages/matchbox/src/components/Page/Page.tsx
  packages/matchbox/src/components/Page/index.ts
  packages/matchbox/src/components/UnstyledLink/UnstyledLink.tsx
  packages/matchbox/src/components/UnstyledLink/utils.tsx
  packages/matchbox/src/helpers/array.js
Labels: :shipit: approved, type: feature

#943 UX-654 Convert Table to typescript
  libby/layout/Table.lib.tsx
  packages/matchbox/src/components/Table/Cell.tsx
  packages/matchbox/src/components/Table/HeaderCell.tsx
  packages/matchbox/src/components/Table/Row.tsx
  packages/matchbox/src/components/Table/SortButton.tsx
  packages/matchbox/src/components/Table/Table.tsx
  packages/matchbox/src/components/Table/TableElements.js
  packages/matchbox/src/components/Table/TotalsRow.tsx
  packages/matchbox/src/components/Table/context.tsx
  packages/matchbox/src/components/Table/index.js
  packages/matchbox/src/components/Table/index.ts
  packages/matchbox/src/components/Table/styles.ts
Labels: :shipit: approved, type: feature

#948 UX-690 Add spacing and sizing 850
  packages/design-tokens/tests/__snapshots__/tokens.test.js.snap
  packages/design-tokens/tokens/sizing.yml
  packages/design-tokens/tokens/spacing.yml
Labels: :shipit: approved, type: feature

#952 UX-691 Update 850 token to 6 rem
  packages/design-tokens/tests/__snapshots__/tokens.test.js.snap
  packages/design-tokens/tokens/sizing.yml
  packages/design-tokens/tokens/spacing.yml
Labels: :shipit: approved, type: feature

#950 UX-647 Convert ScreenReaderOnly to typescript
  libby/utility/ScreenReaderOnly.lib.tsx
  packages/matchbox/src/components/ScreenReaderOnly/ScreenReaderOnly.tsx
  packages/matchbox/src/components/ScreenReaderOnly/index.ts
Labels: :shipit: approved, type: feature

#949 UX-661 Convert Toggle to typescript
  libby/action/Toggle.lib.tsx
  packages/matchbox/src/components/Toggle/Toggle.tsx
  packages/matchbox/src/components/Toggle/index.ts
  packages/matchbox/src/components/Toggle/styles.ts
Labels: :shipit: approved, type: feature

#954 UX-634 Convert ListBox to typescript
  libby/form/ListBox.lib.tsx
  packages/matchbox/src/components/ActionList/Action.tsx
  packages/matchbox/src/components/Checkbox/styles.ts
  packages/matchbox/src/components/ListBox/ListBox.tsx
  packages/matchbox/src/components/ListBox/Option.tsx
  packages/matchbox/src/components/ListBox/index.js
  packages/matchbox/src/components/ListBox/index.tsx
  packages/matchbox/src/components/ListBox/styles.ts
  packages/matchbox/src/components/ListBox/useOptionConstructor.tsx
Labels: :shipit: approved, type: feature

#953 UX-622 Convert Drawer to typescript
  .github/workflows/e2e.yml
  .github/workflows/unit.yml
  libby/overlays/Drawer.lib.tsx
  packages/matchbox/src/components/Drawer/Content.tsx
  packages/matchbox/src/components/Drawer/Drawer.tsx
  packages/matchbox/src/components/Drawer/Footer.tsx
  packages/matchbox/src/components/Drawer/Header.tsx
  packages/matchbox/src/components/Drawer/context.js
  packages/matchbox/src/components/Drawer/context.ts
  packages/matchbox/src/components/Drawer/index.js
  packages/matchbox/src/components/Drawer/index.ts
  packages/matchbox/src/components/Drawer/styles.ts
  packages/matchbox/src/helpers/string.js
  packages/matchbox/src/helpers/window.ts
Labels: :shipit: approved, type: feature

#947 UX-655, UX-674 Convert Tabs to typescript
  libby/navigation/Tabs.lib.tsx
  libby/utility/useResizeObserver.lib.tsx
  packages/matchbox/src/components/ActionList/Action.tsx
  packages/matchbox/src/components/ActionList/ActionList.tsx
  packages/matchbox/src/components/ActionList/index.tsx
  packages/matchbox/src/components/Tabs/Tab.tsx
  packages/matchbox/src/components/Tabs/Tabs.tsx
  packages/matchbox/src/components/Tabs/index.ts
  packages/matchbox/src/components/Tabs/styles.ts
  packages/matchbox/src/components/Tabs/tests/Tabs.test.js
  packages/matchbox/src/components/Tabs/useTabConstructor.tsx
  packages/matchbox/src/hooks/index.ts
  packages/matchbox/src/hooks/useResizeObserver.ts
Labels: :shipit: approved, type: feature

#955 UX-658 Convert TextField to typescript
  libby/form/TextField.lib.tsx
  libby/overlays/Tooltip.lib.tsx
  packages/matchbox/src/components/TextField/TextField.js
  packages/matchbox/src/components/TextField/TextField.tsx
  packages/matchbox/src/components/TextField/index.ts
Labels: :shipit: approved, type: feature

#956 UX-648 Convert Select to typescript
  libby/form/Select.lib.tsx
  packages/matchbox/src/components/Select/Option.tsx
  packages/matchbox/src/components/Select/Options.tsx
  packages/matchbox/src/components/Select/Select.tsx
  packages/matchbox/src/components/Select/index.ts
  packages/matchbox/src/components/Select/styles.ts
Labels: :shipit: approved

#958 UX-635 Convert modal to typescript
  libby/overlays/Modal.lib.tsx
  packages/matchbox/src/components/Drawer/Drawer.tsx
  packages/matchbox/src/components/Modal/Content.tsx
  packages/matchbox/src/components/Modal/Footer.tsx
  packages/matchbox/src/components/Modal/Header.tsx
  packages/matchbox/src/components/Modal/Modal.tsx
  packages/matchbox/src/components/Modal/context.js
  packages/matchbox/src/components/Modal/context.ts
  packages/matchbox/src/components/Modal/index.ts
  packages/matchbox/src/components/Modal/styles.js
  packages/matchbox/src/components/Panel/Panel.tsx
  packages/matchbox/src/components/Panel/index.ts
  packages/matchbox/src/components/Popover/Popover.tsx
  packages/matchbox/src/components/Portal/Portal.tsx
  packages/matchbox/src/components/Portal/index.ts
  packages/matchbox/src/components/Tooltip/Tooltip.tsx
  packages/matchbox/src/components/Tooltip/TooltipOverlay.tsx
Labels: :shipit: approved, type: feature

#959 UX-630 convert KeyboardKey to typescript
  libby/feedback/KeyboardKey.lib.tsx
  packages/matchbox/src/components/KeyboardKey/KeyboardKey.tsx
  packages/matchbox/src/components/KeyboardKey/index.ts
Labels: :shipit: approved, type: feature

#960 UX-645 convert Radio to typescript
  libby/form/Radio.lib.tsx
  packages/matchbox/src/components/Radio/Group.tsx
  packages/matchbox/src/components/Radio/Radio.tsx
  packages/matchbox/src/components/Radio/index.js
  packages/matchbox/src/components/Radio/index.ts
  packages/matchbox/src/components/Radio/styles.ts
  packages/matchbox/src/components/Radio/tests/Radio.test.js
Labels: :shipit: approved, type: feature

#964 UX-669 Convert useInputDescribedBy to typescript
  packages/matchbox/src/hooks/useInputDescribedBy.ts
Labels: :shipit: approved

#963 UX-667 Convert useCopyToClipboard to typescript
  libby/utility/useCopyToClipboard.lib.tsx
  packages/matchbox/src/hooks/useCopyToClipboard.ts
Labels: :shipit: approved, type: feature

#957 UX-650 Convert Slider to typescript
  packages/matchbox/src/components/Slider/Slider.tsx
  packages/matchbox/src/components/Slider/index.ts
  packages/matchbox/src/components/Slider/styles.ts
Labels: :shipit: approved, type: feature

#962 UX-660 Convert TimelineTabs to typescript
  libby/navigation/TimelineTabs.lib.tsx
  packages/matchbox/src/components/TimelineTabs/Tab.tsx
  packages/matchbox/src/components/TimelineTabs/TimelineTabs.tsx
  packages/matchbox/src/components/TimelineTabs/index.ts
  packages/matchbox/src/components/TimelineTabs/useTabConstructor.tsx
Labels: :shipit: approved, type: feature

#961 UX-646 Convert RadioCard to typescript
  libby/form/RadioCard.lib.tsx
  packages/matchbox/src/components/RadioCard/Group.tsx
  packages/matchbox/src/components/RadioCard/RadioCard.tsx
  packages/matchbox/src/components/RadioCard/index.js
  packages/matchbox/src/components/RadioCard/index.ts
  packages/matchbox/src/components/RadioCard/styles.ts
Labels: :shipit: approved, type: feature

#968 UX-668 Convert useDrawer to typescript
  packages/matchbox/src/hooks/useDrawer.ts
Labels: :shipit: approved, type: feature

#967 UX-666 😈 Convert useBreakpoint to typescript
  packages/matchbox/src/hooks/useBreakpoint.ts
Labels: :shipit: approved, type: feature

#966 UX-664 convert Video to typescript
  libby/media/Video.lib.tsx
  packages/matchbox/src/components/Video/Source.tsx
  packages/matchbox/src/components/Video/Video.js
  packages/matchbox/src/components/Video/Video.tsx
  packages/matchbox/src/components/Video/index.js
  packages/matchbox/src/components/Video/index.ts
Labels: :shipit: approved, type: feature

#975 UX-680 Convert focus helpers to typescript
  packages/matchbox/src/components/Popover/Popover.tsx
  packages/matchbox/src/helpers/focus.ts
Labels: :shipit: approved

#970 UX-670 Convert useInView to typescript
  libby/utility/useInView.lib.tsx
  packages/matchbox/src/helpers/window.ts
  packages/matchbox/src/hooks/useInView.ts
Labels: :shipit: approved

#972 UX-678 Convert children helpers to typescript
  packages/matchbox/src/helpers/children.js
  packages/matchbox/src/helpers/children.ts
Labels: :shipit: approved

#971 UX-676 Convert useWindowEvent to typescript
  packages/matchbox/src/hooks/useWindowEvent.ts
Labels: :shipit: approved

#982 UX-681 convert geometry helpers to typescript
  packages/matchbox/src/helpers/geometry.ts
Labels: :shipit: approved, type: feature

#974 UX-673 convert usePrefersReducedMotion to typescript
  libby/utility/usePrefersReducedMotion.lib.tsx
  packages/matchbox/src/hooks/usePrefersReducedMotion.ts
Labels: :shipit: approved

#965 UX-619 convert ComboBox to typescript
  libby/form/ComboBox.lib.tsx
  packages/matchbox/src/components/ComboBox/ComboBox.js
  packages/matchbox/src/components/ComboBox/ComboBox.tsx
  packages/matchbox/src/components/ComboBox/ComboBoxMenu.tsx
  packages/matchbox/src/components/ComboBox/ComboBoxTextField.tsx
  packages/matchbox/src/components/ComboBox/index.ts
  packages/matchbox/src/components/ComboBox/styles.ts
Labels: :shipit: approved, type: feature

#969 UX-671 convert useModal to typescript
  packages/matchbox/src/hooks/useModal.ts
Labels: :shipit: approved, type: feature

#980 UX-683 Convert math helpers to typescript
  packages/matchbox/src/helpers/math.js
  packages/matchbox/src/helpers/math.ts
Labels: :shipit: approved, type: feature

#977 UX-677 Convert array helpers to typescript
  packages/matchbox/src/helpers/array.ts
Labels: :shipit: approved, type: feature

#973 UX-672 convert usePrefersColorScheme to typescript
  libby/utility/usePrefersColorScheme.lib.tsx
  packages/matchbox/src/hooks/usePrefersColorScheme.ts
Labels: :shipit: approved

#979 UX-682 Convert keyEvent helpers to typescript
  packages/matchbox/src/helpers/keyEvents.ts
Labels: :shipit: approved, type: feature

#976 UX-675 convert useTabs to typescript
  packages/matchbox/src/components/Tabs/index.ts
  packages/matchbox/src/hooks/useTabs.js
  packages/matchbox/src/hooks/useTabs.ts
Labels: :shipit: approved

#984 UX-686 convert string helper to typescript
  packages/matchbox/src/helpers/string.js
  packages/matchbox/src/helpers/string.ts
Labels: :shipit: approved, type: feature

#981 UX-626 Convert Grid to typescript, Add grid stories back in
  libby/layout/Grid.lib.tsx
  packages/matchbox/src/components/Grid/Column.js
  packages/matchbox/src/components/Grid/Column.tsx
  packages/matchbox/src/components/Grid/Grid.js
  packages/matchbox/src/components/Grid/Grid.tsx
  packages/matchbox/src/components/Grid/index.ts
  packages/matchbox/src/components/Grid/styles.ts
  packages/matchbox/src/helpers/types.ts
Labels: :shipit: approved, type: feature

#983 UX-684 Convert prop helpers to typescript
  packages/matchbox/src/helpers/props.ts
Labels: :shipit: approved, type: feature

#978 UX-679 convert event helpers to typescript
  packages/matchbox/src/helpers/event.js
  packages/matchbox/src/helpers/event.ts
Labels: :shipit: approved, type: feature

#986 UX-693 Remove all @ts-ignore comments except on Page
  libby/action/ActionList.lib.tsx
  libby/action/Button.lib.tsx
  libby/feedback/Badge.lib.tsx
  libby/feedback/Banner.lib.tsx
  libby/feedback/Skeleton.lib.tsx
  libby/form/DatePicker.lib.tsx
  libby/form/TextField.lib.tsx
  libby/layout/Column.lib.tsx
  libby/layout/Columns.lib.tsx
  libby/layout/EmptyState.lib.tsx
  libby/layout/Inline.lib.tsx
  libby/layout/Layout.lib.tsx
  libby/navigation/Pager.lib.tsx
  libby/navigation/Tabs.lib.tsx
  libby/overlays/Drawer.lib.tsx
  libby/overlays/Tooltip.lib.tsx
  packages/matchbox/src/components/Inline/styles.ts
  packages/matchbox/src/components/Modal/styles.ts
Labels: :shipit: approved

#985 UX-685 Remove all instances of PropTypes (except for in Legacy compon…
  packages/matchbox-icons/package-lock.json
  packages/matchbox-icons/package.json
  packages/matchbox-icons/rollup/config.js
  packages/matchbox-icons/src/IconBase/IconBase.tsx
  packages/matchbox/src/components/ActionList/Section.tsx
  packages/matchbox/src/components/Badge/Badge.tsx
  packages/matchbox/src/components/Banner/Banner.tsx
  packages/matchbox/src/components/Button/Button.tsx
  packages/matchbox/src/components/Button/Group.tsx
  packages/matchbox/src/components/Button/Icon.tsx
  packages/matchbox/src/components/Button/tests/__snapshots__/utils.test.js.snap
  packages/matchbox/src/components/DatePicker/DatePicker.tsx
  packages/matchbox/src/components/KeyboardKey/KeyboardKey.tsx
  packages/matchbox/src/components/Radio/Group.tsx
  packages/matchbox/src/components/Select/Select.tsx
  packages/matchbox/src/components/Slider/Slider.tsx
  packages/matchbox/src/components/Tooltip/TooltipOverlay.tsx
  packages/matchbox/src/helpers/propTypes.js
Labels: :shipit: approved

#987 Fix the icons build
  packages/matchbox-icons/src/IconBase/IconBase.tsx
Labels: :eyes: needs review

#988 UX-694 Fix Legacy Modals
  cypress/integration/Modal.spec.js
  packages/matchbox/src/components/Modal/Legacy.js
Labels: :shipit: approved, type: bug

#990 UX-696 Only render either content or children in ActionLists
  cypress/integration/ActionList.spec.js
  libby/action/ActionList.lib.tsx
  packages/matchbox/src/components/ActionList/Action.tsx
Labels: :shipit: approved, type: bug

#993 UX-695 Fix Pager button sizing
  packages/matchbox/src/components/Pager/Next.tsx
  packages/matchbox/src/components/Pager/Previous.tsx
Labels: :shipit: approved, type: bug

#992 UX-701 Window event should correctly type its event parameter
  libby/utility/WindowEvent.lib.tsx
  packages/matchbox/src/components/WindowEvent/WindowEvent.tsx
  packages/matchbox/src/hooks/useWindowEvent.ts
Labels: :shipit: approved, type: bug

#996 UX-704 Update icons peer dependency in Matchbox
  packages/matchbox/package.json
Labels: :shipit: approved, type: bug

#997 UX-704 Update matchbox peer dependencies
  packages/matchbox/package.json
Labels: :eyes: needs review

#999 UX-605 Set up Percy to collect snapshots
  .env.example
  .github/workflows/regression.yml
  cypress-regression.json
  cypress/regression/ActionList.spec.js
  cypress/support/index.js
  package-lock.json
  package.json
Labels: :shipit: approved, type: feature

#1001 UX-705 Support both window and react key events in keyEvent helpers
  packages/matchbox/src/components/ActionList/ActionList.tsx
  packages/matchbox/src/components/Drawer/Drawer.tsx
  packages/matchbox/src/components/Popover/Popover.tsx
  packages/matchbox/src/helpers/keyEvents.ts
Labels: :shipit: approved, type: bug

#1004 UX-708 Take Percy snapshots of the Drawer component
  cypress/regression/ActionList.spec.js
  cypress/regression/Drawer.spec.js
  libby/regression/Drawer.lib.tsx
Labels: :shipit: approved

#1005 UX-711 Take Percy snapshot of Button component
  cypress/regression/Button.spec.js
  libby/regression/Buttons.lib.tsx
Labels: :shipit: approved

#1006 UX-714 Fix prefix type on TextField
  libby/form/TextField.lib.tsx
  packages/matchbox/src/components/TextField/TextField.tsx
  packages/matchbox/src/helpers/types.ts
Labels: :shipit: approved, type: bug

#1007 UX-715 Fix ListBox minWidth and label rendering
  libby/form/TextField.lib.tsx
  packages/matchbox/src/components/ListBox/ListBox.tsx
  packages/matchbox/src/components/ListBox/tests/ListBox.test.js
Labels: :shipit: approved, type: bug
