Repository SparkPost/matchbox, pull requests merged in 2021-03, with the labels that each got.

#767 UX-452 Remove spreading of unknown Tag props
  packages/matchbox/src/components/Tag/Tag.js
  packages/matchbox/src/components/Tag/tests/Tag.test.js
Labels: :shipit: approved, type: enhancement

#770 UX-465 Fix empty Panel.Section rendering
  packages/matchbox/src/components/Panel/Section.js
  packages/matchbox/src/components/Panel/tests/Panel.test.js
Labels: :shipit: approved, type: bug

#775 UX-471 & UX-473 Resolve immer and prismjs vulnerabilities
  package-lock.json
  package.json
Labels: :shipit: approved, type: security

#771 UX-428 Update cypress and testing library to latest
  cypress/integration/Drawer.spec.js
  cypress/integration/Modal.spec.js
  cypress/integration/Popover.spec.js
  cypress/integration/Tab.spec.js
  cypress/integration/Tooltip.spec.js
  package-lock.json
  package.json
Labels: :shipit: approved

#772 UX-469 Fix Tabs on Safari
  packages/matchbox/src/components/Tabs/Tab.js
  packages/matchbox/src/components/Tabs/tests/Tabs.test.js
Labels: :shipit: approved, type: bug

#773 UX-470 Fix bug that caused excessive horizontal scroll on Tabs
  packages/matchbox/src/components/Tabs/styles.js
  stories/navigation/Tabs.stories.js
Labels: :shipit: approved, type: bug

#774 UX-458 Remove spreading of unknown Toggle props
  cypress/integration/Toggle.spec.js
  libby/action/Toggle.lib.js
  packages/matchbox/src/components/Toggle/Toggle.js
Labels: :shipit: approved, type: enhancement

#782 UX-467 Disabled checkboxes should ignore hover event
  packages/matchbox/src/components/Checkbox/styles.js
Labels: :shipit: approved, type: bug

#785 UX-426 Document EmptyState.Media component and remove EmptyState.Image from docs
  site/src/pages/components/emptystate.mdx
Labels: :shipit: approved

#784 UX-475 darken skeleton background color from gray_200 to gray_300
  packages/matchbox/src/components/Skeleton/Skeleton.js
Labels: :shipit: approved

#780 UX-476 Resolve socket.io security vulnerability
  site/package-lock.json
  site/package.json
Labels: :shipit: approved, type: security

#769 UX-440 Add TimelineTabs component
  .eslintrc
  cypress/integration/TimelineTabs.spec.js
  libby/navigation/TimelineTabs.lib.js
  package-lock.json
  package.json
  packages/matchbox/src/components/TimelineTabs/Tab.js
  packages/matchbox/src/components/TimelineTabs/TimelineTabs.js
  packages/matchbox/src/components/TimelineTabs/index.js
  packages/matchbox/src/components/TimelineTabs/useTabConstructor.js
  packages/matchbox/src/components/index.js
Labels: :shipit: approved, type: feature

#761 UX-429 Add appearance prop on LabelValue component and document
  libby/layout/LabelValue.lib.js
  package-lock.json
  packages/matchbox/src/components/LabelValue/LabelValue.js
  packages/matchbox/src/components/LabelValue/tests/LabelValue.test.js
  site/src/pages/components/labelvalue.mdx
Labels: :shipit: approved, type: enhancement

#783 UX-448 Tabs should support component wrapper via as
  cypress/integration/Tab.spec.js
  libby/navigation/Tabs.lib.js
  packages/matchbox/src/components/Tabs/Tab.js
Labels: :shipit: approved, type: feature

#801 Resolves #788 Support labelHidden on Select
  cypress/integration/Select.spec.js
  libby/form/Select.lib.js
  packages/matchbox/src/components/Select/Select.js
  site/src/pages/components/select.mdx
Labels: :shipit: approved, type: feature

#786 UX-457 Remove spreading of unknown Pager props
  packages/matchbox/src/components/Pager/Pager.js
  packages/matchbox/src/components/Pager/tests/Pager.test.js
Labels: :shipit: approved, type: enhancement

#798 UX-482 Remove is="checkbox" option from ActionList.Action
  libby/action/ActionList.lib.js
  packages/matchbox/src/components/ActionList/Action.js
  packages/matchbox/src/components/ActionList/tests/ActionList.test.js
Labels: :shipit: approved, type: enhancement

#792 UX-466 Document TimelineTabs component
  site/src/pages/components/timelinetabs.mdx
  site/src/routes/routes.json
Labels: :shipit: approved

#787 UX-453 Remove spreading of unknown Expandable props
  cypress/integration/Expandable.spec.js
  libby/layout/Expandable.lib.js
  packages/matchbox/src/components/Expandable/Expandable.js
Labels: :shipit: approved, type: enhancement

#789 UX-456 Remove spreading of unknown ListBox props
  cypress/integration/ListBox.spec.js
  libby/form/ListBox.lib.js
  packages/matchbox/src/components/ListBox/ListBox.js
Labels: :shipit: approved, type: enhancement

#790 UX-461 Remove spreading of unknown ActionList props
  cypress/integration/ActionList.spec.js
  libby/action/ActionList.lib.js
  packages/matchbox/src/components/ActionList/ActionList.js
Labels: :shipit: approved, type: enhancement

#791 UX-472 Dependabot: Resolve ecstatic vulnerability by replacing http-server with serve
  package-lock.json
  package.json
  serve.json
Labels: :shipit: approved, type: security

#794 UX-474 Allow any Modal children
  libby/overlays/Modal.lib.js
  packages/matchbox/src/components/Modal/Content.js
  packages/matchbox/src/components/Modal/Header.js
  packages/matchbox/src/components/Modal/Modal.js
  packages/matchbox/src/components/Modal/context.js
Labels: :shipit: approved, type: enhancement

#804 UX-468 Tab focus state uses focus-visible with fallback
  packages/matchbox/src/components/Tabs/styles.js
Labels: :shipit: approved, type: enhancement

#805 UX-483 Skeletons are hidden from screen readers
  cypress/integration/Skeleton.spec.js
  libby/feedback/Skeleton.lib.js
  packages/matchbox/src/components/Skeleton/Skeleton.js
Labels: :shipit: approved, type: enhancement

#797 UX-480 Remove spreading of unknown Modal props
  packages/matchbox/src/components/Modal/Modal.js
Labels: :shipit: approved, type: enhancement

#795 UX-479 Remove spreading of unknown Table component props, Forwards refs to all Table components
  cypress/integration/Table.spec.js
  libby/layout/Table.lib.js
  packages/matchbox/src/components/Table/Table.js
  packages/matchbox/src/components/Table/TableElements.js
  packages/matchbox/src/components/Table/tests/Table.test.js
Labels: :shipit: approved, type: enhancement

#802 UX-449 Allow any Drawer children
  cypress/integration/Drawer.spec.js
  libby/overlays/Drawer.lib.js
  packages/matchbox/src/components/Drawer/Drawer.js
  packages/matchbox/src/components/Drawer/Footer.js
  packages/matchbox/src/components/Drawer/Header.js
  packages/matchbox/src/components/Drawer/context.js
  packages/matchbox/src/components/Drawer/tests/Drawer.test.js
  packages/matchbox/src/components/Drawer/tests/Header.test.js
Labels: :shipit: approved, type: enhancement
