Repository SparkPost/matchbox, pull requests merged in 2021-07, with the labels that each got.

#868 UX-567 Fix floated optional labels
  packages/matchbox/src/components/Label/Label.js
  packages/matchbox/src/components/Radio/tests/Group.test.js
Labels: :shipit: approved, type: bug

#877 UX-583 add LinkedInSimple icon
  packages/matchbox-icons/src/icons/LinkedInSimple.js
  packages/matchbox-icons/src/index.js
Labels: :shipit: approved, type: enhancement

#875 UX-581 Fix Inline child being excluded from Banner component
  packages/matchbox/src/helpers/children.js
  packages/matchbox/src/helpers/tests/children.test.js
Labels: :shipit: approved, type: bug

#881 UX-587 Resolve security dependabot alerts
  libby.config.js
  libby/utility/useInView.lib.js
  package-lock.json
  package.json
  packages/design-tokens/package-lock.json
  packages/matchbox-icons/package-lock.json
  packages/matchbox-icons/package.json
  packages/matchbox/package-lock.json
  packages/matchbox/package.json
Labels: :shipit: approved

#885 UX-589 Remove webp conversion script
  packages/matchbox-media/package-lock.json
  packages/matchbox-media/package.json
  packages/matchbox-media/scripts/webp.js
Labels: :shipit: approved, type: security

#882 Resloves #878 Fix error label icon alignment
  packages/matchbox/src/components/Error/Error.js
Labels: :shipit: approved, type: bug

#886 UX-584 Fix Popover Overlay bug
  packages/matchbox/src/components/Popover/PopoverOverlay.js
Labels: :shipit: approved, type: bug

#884 Resolves #879 & #880 – Support data-id and className in input groups
  packages/matchbox/src/components/Checkbox/Group.js
  packages/matchbox/src/components/Checkbox/tests/Group.test.js
  packages/matchbox/src/components/Radio/Group.js
  packages/matchbox/src/components/Radio/tests/Group.test.js
Labels: :shipit: approved, type: enhancement

#888 Update readme with correct link for matchbox getting started guide
  README.md
  packages/matchbox-icons/readme.md
Labels: :shipit: approved

#893 UX-601 Add CloseCircleOutline icon
  packages/matchbox-icons/src/icons/CloseCircleOutline.js
  packages/matchbox-icons/src/index.js
Labels: :shipit: approved, type: feature

#895 Resolves #894 Support color in panel actions
  libby/layout/Panel.lib.js
  packages/matchbox/src/components/Panel/Action.js
Labels: :shipit: approved, type: feature

#892 UX-598 Restyle large Banners
  packages/matchbox/src/components/Banner/Banner.js
  packages/matchbox/src/components/Banner/styles.js
  packages/matchbox/src/components/Banner/tests/Banner.test.js
Labels: :shipit: approved, type: enhancement

#889 UX-500 Add new `position` prop to `Popover`
  libby/overlays/Popover.lib.js
  packages/matchbox/src/components/Page/Page.js
  packages/matchbox/src/components/Popover/Popover.js
  packages/matchbox/src/components/Popover/PopoverContent.js
  packages/matchbox/src/components/Popover/styles.js
  packages/matchbox/src/helpers/propTypes.js
Labels: :shipit: approved, type: feature

#891 UX-599 Restyle Tabs and Page header components
  libby.config.js
  libby/layout/Page.lib.js
  package-lock.json
  package.json
  packages/matchbox/src/components/Page/Page.js
  packages/matchbox/src/components/Tabs/styles.js
  packages/matchbox/src/components/Tabs/tests/Tabs.test.js
Labels: :shipit: approved, type: enhancement
