Repository SparkPost/matchbox, pull requests merged in 2021-05, with the labels that each got.

#834 UX-517 Fix wrapping and alignment on Slider ticks
  libby/form/Slider.lib.js
  packages/matchbox/src/components/Slider/Slider.js
  packages/matchbox/src/components/Slider/styles.js
Labels: :shipit: approved, type: bug

#835 UX-518 prevent form from submitting when ListBox value is changed
  cypress/integration/ListBox.spec.js
  libby/form/ListBox.lib.js
  packages/matchbox/src/components/ListBox/Option.js
Labels: :shipit: approved, type: bug

#829 UX-508 Remove visual indicator for required fields
  packages/matchbox/src/components/Checkbox/Checkbox.js
  packages/matchbox/src/components/Checkbox/tests/Checkbox.test.js
  packages/matchbox/src/components/ListBox/ListBox.js
  packages/matchbox/src/components/ListBox/tests/ListBox.test.js
  packages/matchbox/src/components/Radio/Group.js
  packages/matchbox/src/components/Radio/tests/Group.test.js
  packages/matchbox/src/components/Select/Select.js
  packages/matchbox/src/components/Select/tests/Select.test.js
  packages/matchbox/src/components/TextField/TextField.js
  packages/matchbox/src/components/TextField/tests/TextField.test.js
Labels: :shipit: approved, type: enhancement

#847 UX-528 Resolve xmlhttprequest-ssl vulnerabilities
  package-lock.json
  package.json
  site/package-lock.json
  site/package.json
Labels: :shipit: approved, type: security

#846 issue-836 Sliders should no longer trap focus
  cypress/integration/Slider.spec.js
  libby/form/Slider.lib.js
  packages/matchbox/src/components/Slider/Slider.js
Labels: :shipit: approved, type: bug

#850 UX-531 Support tracking on ListBox and RadioCard
  libby/form/ListBox.lib.js
  libby/form/RadioCard.lib.js
  packages/matchbox/src/components/ListBox/ListBox.js
  packages/matchbox/src/components/ListBox/tests/ListBox.test.js
  packages/matchbox/src/components/RadioCard/RadioCard.js
  packages/matchbox/src/components/RadioCard/tests/RadioCard.test.js
Labels: :shipit: approved, type: enhancement

#851 UX-530 Lower default tooltip sizing
  packages/matchbox/src/components/Tooltip/Tooltip.js
  packages/matchbox/src/components/Tooltip/tests/Tooltip.test.js
Labels: :shipit: approved, type: enhancement

#854 UX-538 Fix controlled Listboxes
  cypress/integration/ListBox.spec.js
  libby/form/ListBox.lib.js
  packages/matchbox/src/components/ListBox/ListBox.js
Labels: :shipit: approved, type: bug
