Repository SparkPost/matchbox, pull requests merged in 2021-11, with the labels that each got.

#1020 UX-725 Add Breadcrumb component
  cypress/screenshots/Checkbox.spec.js/Checkbox component -- renders indeterminate group correctly (failed).png
  libby/navigation/Breadcrumb.lib.tsx
  packages/matchbox/src/components/Breadcrumb/Breadcrumb.tsx
  packages/matchbox/src/components/Breadcrumb/Link.tsx
  packages/matchbox/src/components/Breadcrumb/index.tsx
  packages/matchbox/src/components/index.tsx
Labels: :shipit: approved, type: feature

#1019 UX-726 Modify InlineCode styling
  packages/matchbox/src/components/InlineCode/InlineCode.tsx
Labels: :shipit: approved, type: enhancement

#1018 UX-724 Check browser before performing browser specific operations
  packages/matchbox/src/components/WindowEvent/WindowEvent.tsx
  packages/matchbox/src/helpers/noop.ts
  packages/matchbox/src/helpers/tests/noop.test.js
  packages/matchbox/src/helpers/window.ts
  packages/matchbox/src/hooks/useBreakpoint.ts
  packages/matchbox/src/hooks/useInView.ts
  packages/matchbox/src/hooks/usePrefersColorScheme.ts
  packages/matchbox/src/hooks/usePrefersReducedMotion.ts
  packages/matchbox/src/hooks/useWindowEvent.ts
Labels: :shipit: approved, type: bug

#1022 UX-728 Update lockfiles to v2, Upgrade libby
  package-lock.json
  package.json
  packages/design-tokens/package-lock.json
  packages/matchbox-icons/package-lock.json
  packages/matchbox-media/package-lock.json
  packages/matchbox/package-lock.json
Labels: :eyes: needs review

#1025 UX-746 Snapshot all generated design token files
  packages/design-tokens/tests/__snapshots__/tokens.test.js.snap
  packages/design-tokens/tests/tokens.test.js
Labels: :shipit: approved, type: enhancement

#1026 UX-747 & UX-748: Add Style Dictionary and CSS custom properties file
  packages/design-tokens-sd/.gitignore
  packages/design-tokens-sd/.npmignore
  packages/design-tokens-sd/README.md
  packages/design-tokens-sd/config.json
  packages/design-tokens-sd/index.d.ts
  packages/design-tokens-sd/package-lock.json
  packages/design-tokens-sd/package.json
  packages/design-tokens-sd/tokens/border/radius.json
  packages/design-tokens-sd/tokens/border/width.json
  packages/design-tokens-sd/tokens/color/color.json
  packages/design-tokens-sd/tokens/elevation/box-shadow.json
  packages/design-tokens-sd/tokens/elevation/z-index.json
  packages/design-tokens-sd/tokens/font/family.json
  packages/design-tokens-sd/tokens/font/line-height.json
  packages/design-tokens-sd/tokens/font/size.json
  packages/design-tokens-sd/tokens/font/weight.json
  packages/design-tokens-sd/tokens/media-query/media-query.json
  packages/design-tokens-sd/tokens/motion/duration.json
  packages/design-tokens-sd/tokens/motion/ease.json
  packages/design-tokens-sd/tokens/size/sizing.json
  packages/design-tokens-sd/tokens/size/spacing.json
Labels: :shipit: approved

#1027 UX-750 Add SCSS map and function generation
  packages/design-tokens-sd/config.js
  packages/design-tokens-sd/config.json
  packages/design-tokens-sd/templates/scss-functions.js
  packages/design-tokens-sd/tokens/border/radius.json
  packages/design-tokens-sd/tokens/border/width.json
  packages/design-tokens-sd/tokens/color/color.json
  packages/design-tokens-sd/tokens/font/family.json
  packages/design-tokens-sd/tokens/font/size.json
  packages/design-tokens-sd/tokens/font/weight.json
  packages/design-tokens-sd/tokens/motion/duration.json
  packages/design-tokens-sd/tokens/motion/ease.json
Labels: :shipit: approved

#1028 UX-749 Generate JS token files
  packages/design-tokens-sd/config.js
  packages/design-tokens-sd/utils/utils.js
Labels: :shipit: approved
