Repository SparkPost/matchbox, pull requests merged in 2021-12, with the labels that each got.

#1031 UX-732 Create new matchbox-css library
  packages/matchbox-css/.gitignore
  packages/matchbox-css/index.scss
  packages/matchbox-css/package-lock.json
  packages/matchbox-css/package.json
  packages/matchbox-css/tokens/font-size.scss
Labels: :shipit: approved

#1030 UX-752 Generate meta token file
  packages/design-tokens-sd/config.js
  packages/design-tokens-sd/index.js
  packages/design-tokens-sd/tokens/font/line-height.json
  packages/design-tokens-sd/tokens/font/size.json
  packages/design-tokens-sd/tokens/size/sizing.json
  packages/design-tokens-sd/tokens/size/spacing.json
  packages/design-tokens-sd/utils/utils.js
Labels: :shipit: approved

#1032 UX-755 Harden design tokens
  lerna.json
  packages/design-tokens-sd/config.js
  packages/design-tokens-sd/index.d.ts
  packages/design-tokens-sd/tests/__snapshots__/tokens.test.js.snap
  packages/design-tokens-sd/tests/tokens.test.js
Labels: :shipit: approved

#1033 UX-733 Create color utility classes
  packages/matchbox-css/index.scss
  packages/matchbox-css/tokens/color.scss
  packages/matchbox-css/tokens/font-size.scss
Labels: :shipit: approved

#1029 UX-754 Style Dictionary
  lerna.json
  packages/design-tokens/.npmignore
  packages/design-tokens/README.md
  packages/design-tokens/config.js
  packages/design-tokens/formats/common.js.js
  packages/design-tokens/formats/deepMap.scss.js
  packages/design-tokens/formats/map.scss.js
  packages/design-tokens/formats/meta.js.js
  packages/design-tokens/formats/templates.js
  packages/design-tokens/formats/utils.js
  packages/design-tokens/index.d.ts
  packages/design-tokens/index.js
  packages/design-tokens/package-lock.json
  packages/design-tokens/package.json
  packages/design-tokens/scripts/scss.js
  packages/design-tokens/scripts/theo.js
  packages/design-tokens/templates/scss-functions.js
  packages/design-tokens/tests/__snapshots__/tokens.test.js.snap
  packages/design-tokens/tests/tokens.test.js
  packages/design-tokens/tokens.scss
  packages/design-tokens/tokens/border-radius.yml
  packages/design-tokens/tokens/border-width.yml
  packages/design-tokens/tokens/border/radius.json
  packages/design-tokens/tokens/border/width.json
  packages/design-tokens/tokens/box-shadow.yml
  packages/design-tokens/tokens/color.yml
  packages/design-tokens/tokens/color/color.json
  packages/design-tokens/tokens/elevation/box-shadow.json
  packages/design-tokens/tokens/elevation/z-index.json
  packages/design-tokens/tokens/font-family.yml
  packages/design-tokens/tokens/font-size.yml
  packages/design-tokens/tokens/font-weight.yml
  packages/design-tokens/tokens/font/family.json
  packages/design-tokens/tokens/font/line-height.json
  packages/design-tokens/tokens/font/size.json
  packages/design-tokens/tokens/font/weight.json
  packages/design-tokens/tokens/index.yml
  packages/design-tokens/tokens/line-height.yml
  packages/design-tokens/tokens/media-query.yml
  packages/design-tokens/tokens/media-query/media-query.json
  packages/design-tokens/tokens/motion-duration.yml
  packages/design-tokens/tokens/motion-ease.yml
  packages/design-tokens/tokens/motion/duration.json
  packages/design-tokens/tokens/motion/ease.json
  packages/design-tokens/tokens/size/sizing.json
  packages/design-tokens/tokens/size/spacing.json
  packages/design-tokens/tokens/sizing.yml
  packages/design-tokens/tokens/spacing.yml
  packages/design-tokens/tokens/z-index.yml
  packages/design-tokens/utils/utils.js
  packages/matchbox/src/components/ProgressBar/tests/ProgressBar.test.js
  packages/matchbox/src/components/Snackbar/tests/Snackbar.test.js
  packages/matchbox/src/components/Tag/tests/Tag.test.js
Labels: :shipit: approved

#1034 UX-735 Add spacing & sizing tokens to utility library
  lerna.json
  package.json
  packages/matchbox-css/index.scss
  packages/matchbox-css/tokens/color.scss
  packages/matchbox-css/tokens/font-size.scss
  packages/matchbox-css/tokens/sizing.scss
  packages/matchbox-css/tokens/spacing.scss
Labels: :eyes: needs review

#1035 UX-734, UX-736, UX-737, UX-738, UX-739, UX-740, UX-741 Token classes
  packages/matchbox-css/index.scss
  packages/matchbox-css/tokens/border-radius.scss
  packages/matchbox-css/tokens/border-width.scss
  packages/matchbox-css/tokens/box-shadow.scss
  packages/matchbox-css/tokens/font-family.scss
  packages/matchbox-css/tokens/font-weight.scss
  packages/matchbox-css/tokens/line-height.scss
  packages/matchbox-css/tokens/motion-duration.scss
  packages/matchbox-css/tokens/motion-ease.scss
  packages/matchbox-css/tokens/z-index.scss
Labels: :shipit: approved, type: feature

#1023 UX-730 Do not pass system props to DOM on Text and Box
  cypress/integration/Layout.spec.js
  cypress/integration/Table.spec.js
  cypress/regression/Layout.spec.js
  libby/regression/Checkbox.lib.tsx
  libby/regression/Layout.lib.tsx
  packages/matchbox/src/components/Box/Box.tsx
  packages/matchbox/src/components/ComboBox/ComboBoxTextField.tsx
  packages/matchbox/src/components/Error/index.ts
  packages/matchbox/src/components/ListBox/ListBox.tsx
  packages/matchbox/src/components/Select/Select.tsx
  packages/matchbox/src/components/Text/Text.tsx
  packages/matchbox/src/components/TextField/TextField.tsx
  packages/matchbox/src/components/TextField/tests/TextField.test.js
  packages/matchbox/src/helpers/props.ts
Labels: :shipit: approved, type: bug

#1036 UX-729 Prevent button loading prop from rendering in DOM
  packages/matchbox/src/components/Button/Button.tsx
Labels: :shipit: approved, type: bug

#1038 UX-754 Style Dictionary (#1029)
  lerna.json
  packages/design-tokens/.npmignore
  packages/design-tokens/README.md
  packages/design-tokens/config.js
  packages/design-tokens/formats/common.js.js
  packages/design-tokens/formats/deepMap.scss.js
  packages/design-tokens/formats/map.scss.js
  packages/design-tokens/formats/meta.js.js
  packages/design-tokens/formats/templates.js
  packages/design-tokens/formats/utils.js
  packages/design-tokens/index.d.ts
  packages/design-tokens/index.js
  packages/design-tokens/package-lock.json
  packages/design-tokens/package.json
  packages/design-tokens/scripts/scss.js
  packages/design-tokens/scripts/theo.js
  packages/design-tokens/templates/scss-functions.js
  packages/design-tokens/tests/__snapshots__/tokens.test.js.snap
  packages/design-tokens/tests/tokens.test.js
  packages/design-tokens/tokens.scss
  packages/design-tokens/tokens/border-radius.yml
  packages/design-tokens/tokens/border-width.yml
  packages/design-tokens/tokens/border/radius.json
  packages/design-tokens/tokens/border/width.json
  packages/design-tokens/tokens/box-shadow.yml
  packages/design-tokens/tokens/color.yml
  packages/design-tokens/tokens/color/color.json
  packages/design-tokens/tokens/elevation/box-shadow.json
  packages/design-tokens/tokens/elevation/z-index.json
  packages/design-tokens/tokens/font-family.yml
  packages/design-tokens/tokens/font-size.yml
  packages/design-tokens/tokens/font-weight.yml
  packages/design-tokens/tokens/font/family.json
  packages/design-tokens/tokens/font/line-height.json
  packages/design-tokens/tokens/font/size.json
  packages/design-tokens/tokens/font/weight.json
  packages/design-tokens/tokens/index.yml
  packages/design-tokens/tokens/line-height.yml
  packages/design-tokens/tokens/media-query.yml
  packages/design-tokens/tokens/media-query/media-query.json
  packages/design-tokens/tokens/motion-duration.yml
  packages/design-tokens/tokens/motion-ease.yml
  packages/design-tokens/tokens/motion/duration.json
  packages/design-tokens/tokens/motion/ease.json
  packages/design-tokens/tokens/size/sizing.json
  packages/design-tokens/tokens/size/spacing.json
  packages/design-tokens/tokens/sizing.yml
  packages/design-tokens/tokens/spacing.yml
  packages/design-tokens/tokens/z-index.yml
  packages/design-tokens/utils/utils.js
  packages/matchbox/src/components/ProgressBar/tests/ProgressBar.test.js
  packages/matchbox/src/components/Snackbar/tests/Snackbar.test.js
  packages/matchbox/src/components/Tag/tests/Tag.test.js
Labels: :eyes: needs review

#1040 UX-756 matchbox-css cleanup and tests
  cypress/regression/CSS.spec.js
  libby.config.js
  libby/regression/CSS.lib.tsx
  package.json
  packages/matchbox-css/.npmignore
  packages/matchbox-css/package.json
  packages/matchbox-css/tokens/border-radius.scss
  packages/matchbox-css/tokens/border-width.scss
  packages/matchbox-css/tokens/box-shadow.scss
  packages/matchbox-css/tokens/color.scss
  packages/matchbox-css/tokens/font-size.scss
  packages/matchbox-css/tokens/font-weight.scss
  packages/matchbox-css/tokens/motion-duration.scss
  packages/matchbox-css/tokens/motion-ease.scss
  packages/matchbox-css/tokens/sizing.scss
  packages/matchbox-css/tokens/spacing.scss
Labels: :shipit: approved, type: enhancement

#1041 UX-759 Add transpileOnly ts-loader flag for development
  libby.config.js
Labels: :shipit: approved

#1042 UX-717 Adds new z-index token, Fix textfield z-indexing with error outlines
  packages/design-tokens/index.d.ts
  packages/design-tokens/tests/__snapshots__/tokens.test.js.snap
  packages/design-tokens/tokens/elevation/z-index.json
  packages/matchbox/src/components/Connect/Connect.tsx
  packages/matchbox/src/components/ThemeProvider/theme.ts
Labels: :shipit: approved, type: bug

#1043 UX-760 Fix button `to` types
  packages/matchbox/src/components/Button/Button.tsx
Labels: :shipit: approved, type: bug

#1044 UX-761 Remove children from Button.Icon types
  packages/matchbox/src/components/Button/Icon.tsx
Labels: :shipit: approved, type: bug

#1039 UX-753 Decommission Playroom
  .gitignore
  .playroom/components.js
  .playroom/frameComponent.js
  .playroom/snippets.js
  README.md
  libby/_home.js
  packages/matchbox-icons/readme.md
  packages/matchbox/README.md
  playroom.config.js
Labels: :shipit: approved, type: enhancement

#1046 UX-762 (Type fix) Remove reverse prop from Column
  packages/matchbox/src/components/Column/Column.tsx
Labels: :shipit: approved, type: bug
