Repository SparkPost/matchbox, pull requests merged in 2021-08, with the labels that each got.

#901 UX-607 Setup typescript in matchbox-icons
  .gitignore
  jest.config.json
  package-lock.json
  package.json
  packages/matchbox-icons/package-lock.json
  packages/matchbox-icons/package.json
  packages/matchbox-icons/rollup/config.js
  packages/matchbox-icons/rollup/plugins/js.js
  packages/matchbox-icons/src/IconBase/IconBase.js
  packages/matchbox-icons/src/IconBase/index.ts
  packages/matchbox-icons/src/index.ts
  packages/matchbox-icons/tsconfig.json
Labels: :shipit: approved, type: feature

#907 UX-610 Convert ActionList to typescript
  libby.config.js
  libby/action/ActionList.lib.tsx
  libby/icons/Icons.lib.tsx
  packages/matchbox-icons/src/IconBase/IconBase.tsx
  packages/matchbox/matchbox-icons/src/IconBase/IconBase.d.ts
  packages/matchbox/matchbox-icons/src/IconBase/index.d.ts
  packages/matchbox/matchbox-icons/src/index.d.ts
  packages/matchbox/matchbox/src/components/index.d.ts
  packages/matchbox/matchbox/src/index.d.ts
  packages/matchbox/src/components/ActionList/Action.tsx
  packages/matchbox/src/components/ActionList/ActionList.tsx
  packages/matchbox/src/components/ActionList/Section.tsx
  packages/matchbox/src/components/ActionList/index.tsx
  packages/matchbox/src/types/actions.tsx
  tsconfig.json
Labels: :shipit: approved, type: feature

#908 UX-614 Convert Button to typescript
  libby/action/Button.lib.tsx
  packages/matchbox/src/components/Button/Button.js
  packages/matchbox/src/components/Button/Button.tsx
  packages/matchbox/src/components/Button/Group.tsx
  packages/matchbox/src/components/Button/Icon.tsx
  packages/matchbox/src/components/Button/index.tsx
  packages/matchbox/src/components/Button/utils.js
  packages/matchbox/src/components/Button/utils.tsx
  packages/matchbox/src/helpers/types.ts
Labels: :shipit: approved, type: feature

#912 UX-612, UX-657 Convert Banner and Text components to TypeScript
  .eslintrc
  index.d.ts
  libby/action/ActionList.lib.tsx
  libby/feedback/Banner.lib.tsx
  package-lock.json
  package.json
  packages/matchbox/src/components/ActionList/Action.tsx
  packages/matchbox/src/components/ActionList/ActionList.tsx
  packages/matchbox/src/components/ActionList/Section.tsx
  packages/matchbox/src/components/Banner/Action.js
  packages/matchbox/src/components/Banner/Action.tsx
  packages/matchbox/src/components/Banner/Banner.tsx
  packages/matchbox/src/components/Banner/Media.tsx
  packages/matchbox/src/components/Banner/index.tsx
  packages/matchbox/src/components/Text/Text.tsx
  tsconfig.json
Labels: :shipit: approved, type: feature

#909 UX-652 Convert Spinner to ts, Specifies width and height system props
  .eslintrc
  libby/feedback/Spinner.lib.tsx
  packages/matchbox/src/components/Button/Button.tsx
  packages/matchbox/src/components/Spinner/Spinner.tsx
  packages/matchbox/src/components/Spinner/index.tsx
  packages/matchbox/src/components/Spinner/styles.ts
Labels: :eyes: needs review, type: feature

#911 UX-614 Convert Inline to typescript
  .eslintrc
  libby/layout/Inline.lib.tsx
  package-lock.json
  package.json
  packages/matchbox/package-lock.json
  packages/matchbox/package.json
  packages/matchbox/src/components/Inline/Inline.tsx
  packages/matchbox/src/components/Inline/index.tsx
  packages/matchbox/src/components/ThemeProvider/theme.ts
Labels: :eyes: needs review, type: feature

#914 UX-649 UX-613 Convert Skeleton and Box to ts
  libby/action/ActionList.lib.tsx
  libby/action/Button.lib.tsx
  libby/feedback/Skeleton.lib.tsx
  libby/feedback/Spinner.lib.tsx
  libby/layout/Box.lib.tsx
  libby/layout/Inline.lib.tsx
  packages/matchbox/src/components/Banner/Banner.tsx
  packages/matchbox/src/components/Box/Box.js
  packages/matchbox/src/components/Box/Box.tsx
  packages/matchbox/src/components/Box/index.ts
  packages/matchbox/src/components/Skeleton/Skeleton.tsx
  packages/matchbox/src/components/Skeleton/index.ts
Labels: :shipit: approved, type: feature

#915 UX-638 Convert Pager to typescript, Fixes Pager.Previous margin prop
  .prettierrc
  libby/navigation/Pager.lib.tsx
  packages/matchbox/src/components/Pager/Next.tsx
  packages/matchbox/src/components/Pager/Pager.tsx
  packages/matchbox/src/components/Pager/Previous.tsx
  packages/matchbox/src/components/Pager/index.ts
Labels: :shipit: approved, type: feature

#913 UX-611 Convert Badge to typescript
  cypress/integration/Badge.spec.js
  libby/feedback/Badge.lib.tsx
  packages/matchbox/src/components/Badge/Badge.tsx
  packages/matchbox/src/components/Badge/index.ts
Labels: :shipit: approved, type: feature

#918 UX-636 Convert OptionalLabel to typescript
  packages/matchbox/src/components/OptionalLabel/OptionalLabel.tsx
  packages/matchbox/src/components/OptionalLabel/index.ts
Labels: :shipit: approved

#917 UX-633, UX-617, UX-618 Convert Layout, Columns and Column components to TypeScript
  .eslintrc
  libby/layout/Column.lib.tsx
  libby/layout/Columns.lib.tsx
  libby/layout/Layout.lib.tsx
  packages/matchbox/src/components/ActionList/Action.tsx
  packages/matchbox/src/components/ActionList/ActionList.tsx
  packages/matchbox/src/components/Button/Button.tsx
  packages/matchbox/src/components/Column/Column.tsx
  packages/matchbox/src/components/Column/index.ts
  packages/matchbox/src/components/Column/styles.ts
  packages/matchbox/src/components/Columns/Columns.tsx
  packages/matchbox/src/components/Columns/context.js
  packages/matchbox/src/components/Columns/context.ts
  packages/matchbox/src/components/Columns/index.ts
  packages/matchbox/src/components/Columns/styles.ts
  packages/matchbox/src/components/Inline/Inline.tsx
  packages/matchbox/src/components/Layout/Layout.js
  packages/matchbox/src/components/Layout/Layout.tsx
  packages/matchbox/src/components/Layout/Section.js
  packages/matchbox/src/components/Layout/Section.tsx
  packages/matchbox/src/components/Layout/SectionTitle.tsx
  packages/matchbox/src/components/Layout/index.ts
  packages/matchbox/src/components/Text/Text.tsx
  packages/matchbox/src/components/Text/index.ts
  packages/matchbox/src/components/Text/styles.ts
  packages/matchbox/src/helpers/types.ts
Labels: :shipit: approved, type: feature

#916 UX-627 Convert HelpText to typescript
  libby/feedback/HelpText.lib.tsx
  packages/matchbox/src/components/HelpText/HelpText.tsx
  packages/matchbox/src/components/HelpText/index.js
  packages/matchbox/src/components/HelpText/index.ts
Labels: :shipit: approved

#919 UX-631 Convert Label to typescript
  libby/form/Label.lib.tsx
  packages/matchbox/src/components/Label/Label.tsx
  packages/matchbox/src/components/Label/index.ts
Labels: :shipit: approved

#925 UX-651 Convert Snackbar to typescript
  libby/feedback/Snackbar.lib.tsx
  packages/matchbox/src/components/Snackbar/Snackbar.tsx
  packages/matchbox/src/components/Snackbar/index.ts
  packages/matchbox/src/components/Snackbar/styles.ts
Labels: :shipit: approved

#924 UX-629 convert InlineCode to typescript
  libby/utility/InlineCode.lib.tsx
  packages/matchbox/src/components/InlineCode/InlineCode.tsx
  packages/matchbox/src/components/InlineCode/index.ts
Labels: :shipit: approved, type: feature

#923 UX-640 Convert Panel to typescript
  libby/layout/Panel.lib.tsx
  packages/matchbox/src/components/ActionList/Action.tsx
  packages/matchbox/src/components/ActionList/ActionList.tsx
  packages/matchbox/src/components/Panel/Accent.tsx
  packages/matchbox/src/components/Panel/Action.tsx
  packages/matchbox/src/components/Panel/Header.tsx
  packages/matchbox/src/components/Panel/Panel.tsx
  packages/matchbox/src/components/Panel/Section.tsx
  packages/matchbox/src/components/Panel/SubHeader.tsx
  packages/matchbox/src/components/Panel/context.ts
  packages/matchbox/src/components/Panel/index.ts
  packages/matchbox/src/helpers/types.ts
Labels: :shipit: approved, type: feature

#926 UX-620 Convert Connect to typescript
  packages/matchbox/src/components/Connect/Connect.tsx
  packages/matchbox/src/components/Connect/index.ts
Labels: :shipit: approved, type: feature

#922 UX-624 Convert Error label component to typescript, Deprecates `error` prop
  libby/feedback/ErrorLabel.lib.tsx
  packages/matchbox/src/components/Error/Error.tsx
  packages/matchbox/src/components/Error/index.ts
Labels: :shipit: approved, type: feature

#929 UX-643 Convert Portal to typescript
  libby/utility/Portal.lib.tsx
  packages/matchbox/src/components/Portal/Portal.tsx
  packages/matchbox/src/components/Portal/index.ts
Labels: :shipit: approved, type: feature

#921 UX-653 Convert Stack to typescript
  libby/layout/Stack.lib.tsx
  packages/matchbox/src/components/Stack/Stack.tsx
  packages/matchbox/src/components/Stack/index.ts
Labels: :shipit: approved, type: feature

#927 UX-639 Convert Pagination to typescript
  libby/navigation/Pagination.lib.tsx
  packages/matchbox/src/components/Button/utils.tsx
  packages/matchbox/src/components/Pagination/Pagination.tsx
  packages/matchbox/src/components/Pagination/index.ts
Labels: :shipit: approved, type: feature

#928 UX-663 Convert UnstyledLink to typescript
  libby/navigation/UnstyledLink.lib.tsx
  packages/matchbox/src/components/ActionList/Action.tsx
  packages/matchbox/src/components/ActionList/styles.ts
  packages/matchbox/src/components/Button/Button.tsx
  packages/matchbox/src/components/UnstyledLink/UnstyledLink.tsx
  packages/matchbox/src/components/UnstyledLink/index.ts
  packages/matchbox/src/components/UnstyledLink/utils.js
  packages/matchbox/src/components/UnstyledLink/utils.tsx
  packages/matchbox/src/helpers/types.ts
  packages/matchbox/src/types/actions.tsx
Labels: :shipit: approved, type: feature

#936 UX-632 convert LabelValue to typescript
  libby/layout/LabelValue.lib.tsx
  packages/matchbox/src/components/LabelValue/LabelValue.tsx
  packages/matchbox/src/components/LabelValue/index.tsx
Labels: :shipit: approved, type: feature
