Repository SparkPost/matchbox, pull requests merged in 2021-02, with the labels that each got.

#738 Resolve Issue-730 Add 'returnFocus' prop to Modals focus lock container
  cypress/integration/Modal.spec.js
  packages/matchbox/src/components/Modal/Modal.js
Labels: :shipit: approved, type: bug

#725 UX-404 Upgrades react-transition-group to resolve deprecated use of findDomNode
  .storybook/config.js
  packages/matchbox/package-lock.json
  packages/matchbox/package.json
  packages/matchbox/src/components/Button/Button.js
  packages/matchbox/src/components/Drawer/Drawer.js
  packages/matchbox/src/components/Modal/Modal.js
  packages/matchbox/src/components/Popover/PopoverContent.js
  packages/matchbox/src/components/Tooltip/Tooltip.js
Labels: :shipit: approved, type: bug

#742 UX-411 Button should accept "as" and deprecate "component"
  packages/matchbox/src/components/Button/Button.js
  packages/matchbox/src/components/Button/tests/Button.test.js
  site/src/pages/components/button.mdx
  stories/action/Button.stories.js
Labels: :shipit: approved, type: enhancement

#747 UX-433 UnstyledLink add 'as' prop and deprecate 'component'
  packages/matchbox/src/components/Tabs/Tab.js
  packages/matchbox/src/components/UnstyledLink/UnstyledLink.js
  packages/matchbox/src/components/UnstyledLink/tests/UnstyledLink.test.js
  site/src/pages/components/unstyledlink.mdx
  stories/navigation/UnstyledLink.stories.js
Labels: :shipit: approved, type: enhancement

#743 UX-422 add new EmptyState.Media to allow Video or Picture elements
  packages/matchbox/src/components/EmptyState/EmptyState.js
  packages/matchbox/src/components/EmptyState/Media.js
  packages/matchbox/src/components/EmptyState/tests/EmptyState.test.js
  stories/layout/EmptyState.stories.js
Labels: :shipit: approved, type: enhancement

#741 UX-409 & UX-423 Update Panel padding to 450, Update Expandable styling
  packages/matchbox/src/components/Expandable/Expandable.js
  packages/matchbox/src/components/Expandable/styles.js
  packages/matchbox/src/components/Expandable/tests/Expandable.test.js
  packages/matchbox/src/components/Panel/Panel.js
  packages/matchbox/src/components/Table/Table.js
  packages/matchbox/src/components/Table/TableElements.js
  stories/layout/Expandable.stories.js
  stories/layout/Table.stories.js
Labels: :shipit: approved, type: enhancement

#749 UX-424 Add Toggle to routes file
  site/src/routes/routes.json
Labels: :shipit: approved

#745 UX-260 Create usePrefersColorScheme hook
  cypress/integration/usePrefersColorScheme.spec.js
  packages/matchbox/src/hooks/index.js
  packages/matchbox/src/hooks/usePrefersColorScheme.js
  stories/utility/usePrefersColorScheme.stories.js
Labels: :shipit: approved, type: feature

#731 UX-413 Add code scanning
  .github/workflows/codeql-analysis.yml
Labels: :shipit: approved, type: security

#744 UX-425 Remove codecov integration
  .github/workflows/test.yml
  .storybook/.babelrc
  cypress/plugins/index.js
  cypress/support/index.js
  package-lock.json
  package.json
Labels: :shipit: approved

#748 UX-417 Uninstall unused react-syntax-highlighter
  packages/matchbox/package-lock.json
  packages/matchbox/package.json
Labels: :shipit: approved, type: security

#751 UX-432 Add aria-invalid to Checkbox Radio Select Textfield and ListBox
  cypress/integration/Checkbox.spec.js
  cypress/integration/ListBox.spec.js
  cypress/integration/Select.spec.js
  cypress/integration/TextField.spec.js
  packages/matchbox/src/components/Checkbox/Checkbox.js
  packages/matchbox/src/components/ListBox/ListBox.js
  packages/matchbox/src/components/Radio/Radio.js
  packages/matchbox/src/components/Select/Select.js
  packages/matchbox/src/components/TextField/TextField.js
  stories/form/ListBox.stories.js
Labels: :shipit: approved, type: enhancement

#753 UX-439 Add data-id to Error component
  cypress/integration/Checkbox.spec.js
  cypress/integration/ListBox.spec.js
  cypress/integration/Select.spec.js
  cypress/integration/TextField.spec.js
  packages/matchbox/src/components/Error/Error.js
  packages/matchbox/src/components/Error/tests/Error.test.js
Labels: :shipit: approved, type: enhancement

#752 UX-436 Resolve dependabot vulnerabilities
  package-lock.json
  package.json
  packages/design-tokens/package-lock.json
  packages/design-tokens/package.json
  packages/matchbox/src/components/Button/tests/__snapshots__/utils.test.js.snap
Labels: :shipit: approved, type: security

#757 UX-447 Fix UnstyledLink system props
  cypress/integration/UnstyledLink.spec.js
  packages/matchbox/src/components/UnstyledLink/UnstyledLink.js
Labels: :shipit: approved, type: bug

#758 UX-444 Update Snackbar component props to accept maxWidth styled prop
  packages/matchbox/src/components/Snackbar/Snackbar.js
  packages/matchbox/src/components/Snackbar/tests/Snackbar.test.js
  stories/feedback/Snackbar.stories.js
Labels: :shipit: approved, type: bug

#760 UX-443 Vertical align `Error` icon and text
  packages/matchbox/src/components/Error/Error.js
Labels: :shipit: approved

#755 UX-427 Fix full width button loading spinner positioning
  packages/matchbox/src/components/Button/styles.js
  stories/action/Button.stories.js
Labels: :shipit: approved, type: bug

#762 UX-445 Expandable update vertical padding with subtitle
  packages/matchbox/src/components/Expandable/Expandable.js
  packages/matchbox/src/components/Expandable/styles.js
  stories/layout/Expandable.stories.js
Labels: :shipit: approved, type: bug

#697 UX-380 Upgrade to React 17
  config/jest/setup.js
  package-lock.json
  package.json
  packages/matchbox-icons/package-lock.json
  packages/matchbox-icons/package.json
  packages/matchbox/package-lock.json
  packages/matchbox/package.json
Labels: :shipit: approved, type: enhancement

#763 UX-394 Remove spreading of unknown ProgressBar props
  packages/matchbox/src/components/ProgressBar/ProgressBar.js
Labels: :shipit: approved, type: enhancement

#765 UX-397 Remove spreading of unknown Snackbar props
  packages/matchbox/src/components/Snackbar/Snackbar.js
  packages/matchbox/src/components/Snackbar/tests/Snackbar.test.js
Labels: :shipit: approved, type: enhancement

#768 UX-450 move error below help text in form components
  packages/matchbox/src/components/Checkbox/Checkbox.js
  packages/matchbox/src/components/ComboBox/ComboBoxTextField.js
  packages/matchbox/src/components/ListBox/ListBox.js
  packages/matchbox/src/components/Radio/Radio.js
  packages/matchbox/src/components/Select/Select.js
  packages/matchbox/src/components/TextField/TextField.js
  stories/form/Checkbox.stories.js
  stories/form/ComboBox.stories.js
  stories/form/Radio.stories.js
Labels: :shipit: approved, type: bug

#766 UX-395 Remove spreading of unknown Banner props
  packages/matchbox/src/components/Banner/Banner.js
  packages/matchbox/src/components/Banner/tests/Banner.test.js
Labels: :shipit: approved, type: enhancement

#764 UX-430 Create inverted color scheme for Panel component
  packages/matchbox/src/components/Panel/Header.js
  packages/matchbox/src/components/Panel/Panel.js
  packages/matchbox/src/components/Panel/Section.js
  packages/matchbox/src/components/Panel/SubHeader.js
  packages/matchbox/src/components/Panel/context.js
  packages/matchbox/src/components/Panel/tests/Panel.test.js
  stories/layout/Panel.stories.js
Labels: :shipit: approved, type: enhancement
