Repository SparkPost/matchbox, pull requests merged in 2021-01, with the labels that each got.

#728 UX-385 Add ActionList usage and new Content section
  site/src/components/Layout/Global.js
  site/src/pages/components/actionlist.mdx
  site/src/pages/design/actionable-language.mdx
  site/src/routes/routes.json
Labels: :shipit: approved

#729 Hotfix - Fix modal button clone
  packages/matchbox/src/components/Modal/Footer.js
Labels: :shipit: approved, type: bug

#732 UX-419 Reduce Empty State Image Size
  packages/design-tokens/tokens/sizing.yml
  packages/matchbox/src/components/EmptyState/Image.js
  packages/matchbox/src/components/ThemeProvider/theme.js
Labels: :shipit: approved, type: bug

#712 Resolves #706 Add noticable focus indicator on Expandable buttons
  packages/matchbox/src/components/Expandable/styles.js
  packages/matchbox/src/styles/helpers.js
  site/src/pages/components/mixins.mdx
Labels: :shipit: approved, type: enhancement

#733 UX-420 Ensure Banner button is always on top of contents
  packages/matchbox/src/components/Banner/Banner.js
  packages/matchbox/src/components/Banner/Media.js
Labels: :shipit: approved, type: bug

#735 issue-734 Remove deprecated Button props from Pagination component
  packages/matchbox/src/components/Pagination/Pagination.js
Labels: :shipit: approved, type: bug

#736 UX-421 Make EmptyState.Image maxWidth configurable
  packages/matchbox/src/components/EmptyState/Image.js
  site/src/pages/components/emptystate.mdx
  stories/layout/EmptyState.stories.js
Labels: :shipit: approved, type: bug

#737 UX-412 Add support for EmptyState.Header 'as' and 'looksLike'
  packages/matchbox/src/components/EmptyState/Header.js
  packages/matchbox/src/components/EmptyState/tests/EmptyState.test.js
  stories/layout/EmptyState.stories.js
Labels: :shipit: approved, type: enhancement

#746 UX-431 Align chevron in Page component breadcrumbs
  packages/matchbox/src/components/Page/Page.js
Labels: :shipit: approved, type: bug

#740 UX-418: Resolve axios vulnerability
  package-lock.json
  package.json
  packages/design-tokens/gulpfile.js/index.js
  packages/design-tokens/package-lock.json
  packages/design-tokens/package.json
  site/package-lock.json
  site/package.json
Labels: :shipit: approved, type: security
