Repository SparkPost/matchbox, pull requests merged in 2022-01, with the labels that each got.

#1045 UX-742 matchbox-css
  cypress/regression/CSS.spec.js
  lerna.json
  libby.config.js
  libby/regression/CSS.lib.tsx
  package.json
  packages/design-tokens/tokens/elevation/z-index.json
  packages/matchbox-css/.gitignore
  packages/matchbox-css/.npmignore
  packages/matchbox-css/README.MD
  packages/matchbox-css/index.scss
  packages/matchbox-css/package-lock.json
  packages/matchbox-css/package.json
  packages/matchbox-css/tokens/border-radius.scss
  packages/matchbox-css/tokens/border-width.scss
  packages/matchbox-css/tokens/box-shadow.scss
  packages/matchbox-css/tokens/color.scss
  packages/matchbox-css/tokens/font-family.scss
  packages/matchbox-css/tokens/font-size.scss
  packages/matchbox-css/tokens/font-weight.scss
  packages/matchbox-css/tokens/line-height.scss
  packages/matchbox-css/tokens/motion-duration.scss
  packages/matchbox-css/tokens/motion-ease.scss
  packages/matchbox-css/tokens/sizing.scss
  packages/matchbox-css/tokens/spacing.scss
  packages/matchbox-css/tokens/z-index.scss
Labels: :shipit: approved, type: feature

#1048 UX-765 Fix white button text color
  packages/matchbox/src/components/Button/styles.ts
Labels: :shipit: approved, type: bug

#1047 Upgrade libby & npm audit fix
  package-lock.json
  package.json
Labels: type: infrastructure

#1049 UX-757 Nextjs template
  .eslintignore
  lerna.json
  package-lock.json
  package.json
  packages/next-template-matchbox/.gitignore
  packages/next-template-matchbox/README.MD
  packages/next-template-matchbox/template/.eslintrc.json
  packages/next-template-matchbox/template/.gitignore
  packages/next-template-matchbox/template/README.md
  packages/next-template-matchbox/template/next-env.d.ts
  packages/next-template-matchbox/template/next.config.js
  packages/next-template-matchbox/template/package-lock.json
  packages/next-template-matchbox/template/package.json
  packages/next-template-matchbox/template/pages/_app.tsx
  packages/next-template-matchbox/template/pages/_document.tsx
  packages/next-template-matchbox/template/pages/api/hello.ts
  packages/next-template-matchbox/template/pages/index.tsx
  packages/next-template-matchbox/template/public/assets/Calibre-Black.woff
  packages/next-template-matchbox/template/public/assets/Calibre-Black.woff2
  packages/next-template-matchbox/template/public/assets/Calibre-BlackItalic.woff
  packages/next-template-matchbox/template/public/assets/Calibre-BlackItalic.woff2
  packages/next-template-matchbox/template/public/assets/Calibre-Bold.woff
  packages/next-template-matchbox/template/public/assets/Calibre-Bold.woff2
  packages/next-template-matchbox/template/public/assets/Calibre-BoldItalic.woff
  packages/next-template-matchbox/template/public/assets/Calibre-BoldItalic.woff2
  packages/next-template-matchbox/template/public/assets/Calibre-Italic.woff
  packages/next-template-matchbox/template/public/assets/Calibre-Italic.woff2
  packages/next-template-matchbox/template/public/assets/Calibre-Light.woff
  packages/next-template-matchbox/template/public/assets/Calibre-Light.woff2
  packages/next-template-matchbox/template/public/assets/Calibre-LightItalic.woff
  packages/next-template-matchbox/template/public/assets/Calibre-LightItalic.woff2
  packages/next-template-matchbox/template/public/assets/Calibre-Medium.woff
  packages/next-template-matchbox/template/public/assets/Calibre-Medium.woff2
  packages/next-template-matchbox/template/public/assets/Calibre-MediumItalic.woff
  packages/next-template-matchbox/template/public/assets/Calibre-MediumItalic.woff2
  packages/next-template-matchbox/template/public/assets/Calibre-SemiBold.woff
  packages/next-template-matchbox/template/public/assets/Calibre-SemiBold.woff2
  packages/next-template-matchbox/template/public/assets/Calibre-SemiBoldItalic.woff
  packages/next-template-matchbox/template/public/assets/Calibre-SemiBoldItalic.woff2
  packages/next-template-matchbox/template/public/assets/Calibre-Thin.woff
  packages/next-template-matchbox/template/public/assets/Calibre-Thin.woff2
  packages/next-template-matchbox/template/public/assets/Calibre-ThinItalic.woff
  packages/next-template-matchbox/template/public/assets/Calibre-ThinItalic.woff2
  packages/next-template-matchbox/template/public/assets/Calibre.woff
  packages/next-template-matchbox/template/public/assets/Calibre.woff2
  packages/next-template-matchbox/template/public/assets/critical.css
  packages/next-template-matchbox/template/public/favicon.png
  packages/next-template-matchbox/template/tsconfig.json
Labels: :shipit: approved, type: feature

#1050 UX-767 Publish 7.0.0
  CHANGELOG.md
  packages/cra-template-matchbox/template.json
Labels: :eyes: needs review

#1051 Hotfix - next template changes
  packages/next-template-matchbox/.eslintrc.json
  packages/next-template-matchbox/.gitignore
  packages/next-template-matchbox/README.MD
  packages/next-template-matchbox/next-env.d.ts
  packages/next-template-matchbox/next.config.js
  packages/next-template-matchbox/package-lock.json
  packages/next-template-matchbox/package.json
  packages/next-template-matchbox/pages/_app.tsx
  packages/next-template-matchbox/pages/_document.tsx
  packages/next-template-matchbox/pages/api/hello.ts
  packages/next-template-matchbox/pages/index.tsx
  packages/next-template-matchbox/public/assets/Calibre-Black.woff
  packages/next-template-matchbox/public/assets/Calibre-Black.woff2
  packages/next-template-matchbox/public/assets/Calibre-BlackItalic.woff
  packages/next-template-matchbox/public/assets/Calibre-BlackItalic.woff2
  packages/next-template-matchbox/public/assets/Calibre-Bold.woff
  packages/next-template-matchbox/public/assets/Calibre-Bold.woff2
  packages/next-template-matchbox/public/assets/Calibre-BoldItalic.woff
  packages/next-template-matchbox/public/assets/Calibre-BoldItalic.woff2
  packages/next-template-matchbox/public/assets/Calibre-Italic.woff
  packages/next-template-matchbox/public/assets/Calibre-Italic.woff2
  packages/next-template-matchbox/public/assets/Calibre-Light.woff
  packages/next-template-matchbox/public/assets/Calibre-Light.woff2
  packages/next-template-matchbox/public/assets/Calibre-LightItalic.woff
  packages/next-template-matchbox/public/assets/Calibre-LightItalic.woff2
  packages/next-template-matchbox/public/assets/Calibre-Medium.woff
  packages/next-template-matchbox/public/assets/Calibre-Medium.woff2
  packages/next-template-matchbox/public/assets/Calibre-MediumItalic.woff
  packages/next-template-matchbox/public/assets/Calibre-MediumItalic.woff2
  packages/next-template-matchbox/public/assets/Calibre-SemiBold.woff
  packages/next-template-matchbox/public/assets/Calibre-SemiBold.woff2
  packages/next-template-matchbox/public/assets/Calibre-SemiBoldItalic.woff
  packages/next-template-matchbox/public/assets/Calibre-SemiBoldItalic.woff2
  packages/next-template-matchbox/public/assets/Calibre-Thin.woff
  packages/next-template-matchbox/public/assets/Calibre-Thin.woff2
  packages/next-template-matchbox/public/assets/Calibre-ThinItalic.woff
  packages/next-template-matchbox/public/assets/Calibre-ThinItalic.woff2
  packages/next-template-matchbox/public/assets/Calibre.woff
  packages/next-template-matchbox/public/assets/Calibre.woff2
  packages/next-template-matchbox/public/assets/critical.css
  packages/next-template-matchbox/public/favicon.png
  packages/next-template-matchbox/template/.gitignore
  packages/next-template-matchbox/template/README.md
  packages/next-template-matchbox/tsconfig.json
Labels: :eyes: needs review

#1052 Hotfix 7.0.0
  packages/matchbox/package-lock.json
  packages/matchbox/package.json
Labels: :shipit: approved

#1054 UX-771 Fix design token scss import
  packages/design-tokens/index.scss
  packages/design-tokens/tokens.scss
Labels: :shipit: approved, type: bug

#1055 UX-773 Fix color function
  libby.config.js
  libby/SCSS.lib.tsx
  libby/scss.scss
  package-lock.json
  package.json
  packages/design-tokens/package.json
  packages/design-tokens/templates/scss-functions.js
Labels: :shipit: approved, type: bug
